[2016-10-31 22:16] matclab opened #1518 "Allow the use of firstname and lastname in auth.messages.verify_email"
auth.messages.verify allows only for username to identify people in a name, but username may be the user mail.
It would be nice to allow more personal first and last name.

Other messages may be concerned too.

(I will submit a PR soon).

[2016-11-01 03:53] Jimi-James commented on #667
This NEEDS to be either fixed or clearly documented. I just spent hours pulling my hair out, wondering why I couldn't get the row I was looking for after using the update() function (yes, not insert(), but update()). I was using update()'s return value instead of the specified id because I had copy+pasted the code from a different function, meant to only insert, and I thought, why not just leave i

[2016-11-01 11:39] abastardi commented on #667
@Jimi-James, your problem is not related to MySQL or this issue. Note that the `.update` method operates on a `Set` object and can affect multiple records in a single operations. Therefore, it would not make sense for it to return a record ID, as there would not necessarily be a single record ID to return (it would also be inefficient, as returning IDs of updated records would require a subsequent

[2016-11-01 15:08] Jimi-James commented on #667
Oh, so it was me misreading the docs. Whoops.

[2016-11-02 01:41] leonelcamara commented on #1353
@ilvalle @niphlod while playing around with my refactor of Auth, I just noticed that if you set settings.email_case_sensitive=False in PY3 what gets stored in the email field is "b'test@example.com'" is there a reason for IS_LOWER (or IS_UPPER)  to be calling to_bytes on the result?

[2016-11-02 04:09] Narendra-Kumar opened #1521 "form resubmission in refresh or reload"
Form will be resubmitted if I refresh or reload the page. I didnot use Form or SQLForm to display or update data from database. Please help.

[2016-11-02 04:14] Narendra-Kumar opened #1522 "MSSQL connectivity"
DAL cannot connect MSSQL database, I used all three possibility uri strings give in web2py documents http://www.web2py.com/books/default/chapter/29/06/the-database-abstraction-layer#Connection-strings--the-uri-parameter. Please help.

[2016-11-02 04:18] Narendra-Kumar opened #1523 "File permission problem"
Hi, In my application, I try to create file and folder, which was successfully created by application, but I get read, write and execute problem, on created file. After creation of file, I cannot use, for write content or execute. Please help.
I am using linux(Ubuntu 14), with administrator login.

[2016-11-02 10:45] leonelcamara commented on #1521
That is really just the way browsers work so this is not really a web2py issue. The simplest way to prevent it is to simply redirect the user after he submits a form.

[2016-11-02 10:54] niphlod commented on #1521
BTW: for so obvious bugs maybe check first in #web2py-users

[2016-11-02 10:54] #1521 closed

[2016-11-02 10:55] niphlod commented on #1522
check on [web2py-users](https://groups.google.com/forum/#!forum/web2py) before creating issues that are not existant .... mssql works perfectly fine.

[2016-11-02 10:55] #1522 closed

[2016-11-02 10:56] niphlod commented on #1523
chown it . web2py can't do a single thing about how permissions are organized in your filesytem.

[2016-11-02 10:56] #1523 closed

[2016-11-02 15:01] leonelcamara commented on #1353
I will change it in my branch from to_bytes to to_native which I consider is the more correct approach.

[2016-11-02 20:13] ilvalle commented on #1353
On py35 almost all validators returns bytes. By doing so, it's more compatible with py27.
However, to some extent I agree with you, for example IS_LENGTH works in that way.
On py27
[code]
On py35
[code]
It's an open point to discuss. Surely validators should behave all in the same way.

[2016-11-03 15:46] leonelcamara commented on #1353
I kind of disagree with validators changing what they get, if they get unicode they should return unicode, if they get bytes then bytes it should be, if they never want bytes and only want to deal with native strings then they should complain about it. The problem here is not only that the IS_LOWER is changing the string to bytes, the problem is that IS_EMAIL then puts the representation of those

[2016-11-03 19:13] ilvalle commented on #1353
I see the problem, would you post a PR for such issue?

Mind that this is how web2py works on py27, changing it in py35 will require to adapt unittests.

[2016-11-05 01:06] michele-comitini opened #1526 "problems in code for reset password flow"
There are a few worrisome lines of code

never executed:
https://github.com/web2py/web2py/blob/master/gluon/tools.py#L3688

things to avoid in any code: generic exceptions
https://github.com/web2py/web2py/blob/master/gluon/tools.py#L3681
https://github.com/web2py/web2py/blob/master/gluon/tools.py#L3684

a catchall exception:
https://github.com/web2py/web2py/blob/master/gluon/tools.py#L3685

a myst

[2016-11-05 12:11] leonelcamara commented on #1526
3687-3688 seems like whoever was developing it forgot a line with a test redirect. Sort of a redirect version of print debugging. I'll just remove it in my auth refactor. The cactchall exception is not as bad in my opinion as it's working like a kind of "goto error handling"  for the various kinds of errors one can have with the key, I'm inclined to leave it for now.

[2016-11-05 12:21] michele-comitini commented on #1526
@leonelcamara
IMHO to understand what goes on at least one should
raise Exception('meaningful description')

[2016-11-06 10:38] remcoboerma commented on #1517
Aren't symlinks and directory junctions invented for exactly this purpose?

[2016-11-07 03:04] BrenBarn commented on #1517
As I mentioned on the thread, using filesystem-level solutions like that has drawbacks.  It means that other non-web2py actions (e.g., searching or deleting a directory tree) could recurse into the app directory, although one purpose of putting the app elsewhere would be to separate it from such things.

But basically, the point of this ticket is to say that the notion of "apps available to web2py

[2016-11-09 17:38] dartg opened #1528 "New app not visible until server reload"
Create a new app using **admin**, for example, **newapp** and go to `http://127.0.0.1:8000/newapp`. You'll get:

(Considering the default app doesn't have a function called `newapp`).

To get the new app working is necessary to hit **stop server** and then **start server**. I think this is an issue with the latest version, since I remember creating an app in previous versions and getting them work

[2016-11-14 01:56] JunyanHe commented on #1528
There is an button named "Reload routes" at up-right corner on admin site(http://127.0.0.1:8000/admin). You could use this and need not restart server.

[2016-11-14 14:26] #1515 closed

[2016-11-14 14:27] #1518 closed

[2016-11-15 16:06] Marlysson commented on #1511
Whats wrong ?

[2016-11-15 16:07] RekGRpth commented on #1511
exclamation sign: </script!>

[2016-11-20 23:11] leonelcamara commented on #736
@niphlod I think this is a duplicate of #636 which I've fixed in my auth refactor so this can be closed if it's merged.

[2016-11-21 09:54] zvolsky opened #1534 "lazyT in _compat (PY2, to_bytes())"
Probably lazyT can entry into to_bytes(), but this is not prepared for lazyT instance.

Traceback (most recent call last):
  File "/home/mirek/mz/web2py/gluon/restricted.py", line 216, in restricted
    exec(ccode, environment)
  File "<string>", line 113, in <module>
  File "/home/mirek/mz/web2py/gluon/html.py", line 2802, in __init__
    self.text = to_bytes(text)
  File "/home/mirek/mz/web2py/g

[2016-11-22 19:22] niphlod commented on #1512
there are no plans ATM to support it. In any case, you should look at https://github.com/web2py/pydal for any database support requests

[2016-11-22 19:22] #1512 closed

[2016-11-22 20:44] kszys commented on #1273
After some more experimenting, it seems that the problem really only appears in case the ID of the record is shown in grid.
If the grid does not contain the ID column, it is actually added in the `colgroup`, when `selectable` option is chosen. This makes it _okayish_, as there is an additional column that can be formatted in CSS.
The problem appears, when there is already the ID column and then no

[2016-11-22 20:53] dartg commented on #1528
However, the point is, routes should be reloaded automatically when a new application is created, like in previous versions. I think this is a bug.

[2016-11-24 00:32] leonardopf opened #1535 "Appadmin orderby invalid syntax"
When i click on a column to chose it's order by, the get query is submitting it with quotes which show an alert saying 'invalid syntax'. Removing the quotes of get vars make it work again
![captura de tela de 2016-11-23 22 23 41](https://cloud.githubusercontent.com/assets/3034354/20582795/88343a76-b1cb-11e6-8396-01bc5c180cab.png)
![captura de tela de 2016-11-23 22 24 22](https://cloud.githubuserco

[2016-11-26 10:06] ilvalle commented on #1534
@zvolsky would you mind to post a simple example to demonstrate the issue?

[2016-11-26 10:47] tsouras opened #1536 "Update of float is not working"
When I try to update a float field dal is behaving very strange.
Instead of executing the float expression, it is converting the field to text and is trying to concatenate.
To overcome this problem I am doing double subctartion.
You can see this problem if you copy the following code into a controller.

[code]

[2016-11-26 21:45] Marlysson opened #1537 "Create a new app from command line options"
Proposal to create a command to create a new applications from command line by example:

python web2py.py newapp name_app

without need copy and paste welcome application or access admin application from browser.

Or already exists this?

Just a proposal .. may be that this not be necessary.

[2016-12-03 18:33] oldncrabby opened #1541 "Allow adding records from a SQLFORM.grid or .smartgrid when using groupby"
When groupby is used in a SQLFORM.grid or .smartgrid, the ability to add a record is disabled.  Why this is, and how it might be allowed, is described in the following thread: https://groups.google.com/forum/#!topic/web2py/QLN6HzItpS8

[2016-12-06 12:39] RekGRpth opened #1542 "bug in csv export with entity_quoting = True"
solve
[code]

[2016-12-08 19:34] vdemario opened #1543 "Too many conflicts when generating session IDs"
I've got this error happening on my app (complete filesystem redacted, but it shouldn't be relevant):

[code]

It's running on Google App Engine, with web2py Version 2.14.6-stable+timestamp.2016.05.10.00.21.47.

There were about 14k items on memcache with less than an 8% hit ratio. I'm not very familiar with this part of web2py/appengine but I'm assuming the session ids were being stored there.

A

[2016-12-09 15:57] wish7code opened #1545 "setup-web2py-nginx-uwsgi-ubuntu.sh doesn't enable systemd record for uwsgi"
setup-web2py-nginx-uwsgi-ubuntu.sh is intended to setup a complete ubuntu/nginx/uwsgi stack.

Previous versions of this script worked perfectly with an upstart record for the uwsgi emperor created and enabled on boot.

Current master version creates a systemd record for uwsgi emperor, **but doesn't enabled it.**
Upon next boot user will see a BAD GATEWAY error, as the uwsgi service isn't running

[2016-12-09 16:04] wish7code commented on #1545
Sorry, I just discovered that this has been reported before with #1443 already, althought the fix shown there is not yet in the master branch..

[2016-12-09 16:04] #1545 closed

[2016-12-09 16:06] BuhtigithuB commented on #1545
You can submit you PR against the other issue if you want...

[2016-12-09 16:09] BuhtigithuB commented on #1443
Is the plan is to replace setup-web2py-nginx-uwsgi-ubuntu.sh by web2py-on-ubuntu??

[2016-12-09 20:44] niphlod commented on #1443
the plan should be to start adopting https://gist.github.com/niphlod/8a13025001363657f0201b2a15dad41c

[2016-12-16 07:34] yaminle opened #1547 "multiple strikeouts in markmin are not rendered correctly"
## description of the behaviour

When trying to render as html
``~~strikeout~~ and ~~another strikeout~~``
the result is:
``<p><del>strikeout~~ and ~~strikeout</del></p>``
the correct result should be:
``<p><del>strikeout</del> and <del>strikeout</del></p>``

code:
[code]
## web2py version

(as stated in the file ``web2py/VERSION``)
Version 2.14.6-stable+timestamp.2016.05.10.00.21.47

## reason fo

[2016-12-20 19:17] nextghost commented on #663
This is a duplicate of web2py/pydal#356

[2016-12-20 21:20] ilvalle commented on #1536
This issue regards https://github.com/web2py/pydal, would you open the issue there?

[2016-12-21 20:24] ilvalle commented on #1543
you should debug a little more this issue, for example running on GAE a simple test as
[code]
and see the number of conflicts (if any)

[2016-12-23 15:08] ilvalle commented on #1547
Would you post a pull request with the proposed fixed?

[2016-12-31 14:43] discohead opened #1551 "web2py_osx error on Sierra (OSX 10.12)"
I'm on macOS 10.12.1

I downloaded the web2py app from http://www.web2py.com/examples/static/web2py_osx.zip

When I try to run it, I get this web2py error dialog: http://take.ms/IIXG5

Here are the details from the console: http://take.ms/tTTgG

"Detected missing constraints for <private>.  It cannot be placed because there are not enough constraints to fully define the size and origin. Add the mi

[2017-01-01 14:52] kristjanvalur opened #1552 "web-based shell not working"
admin/controllers/shell.py isn't working.  All output is returned as "None".
After much digging, I traced the problem to this line in compileapp.py/run_controller_in():
`response = current.response`
The problem is that the shell controller creates its own environment to run the command in, modifying current.response.
Changing this line to:
`response = environment["response"]`
Fixes the problem.  T

[2017-01-01 16:26] discohead commented on #1551
FWIW, I've since upgraded to macOS 10.12.2 and this error remains.

[2017-01-03 06:37] dz0 opened #1553 "Possibility to add Expression to grid?"
Hi,
 now one can [add  virtual fiels (book example)](http://web2py.com/books/default/chapter/29/06/the-database-abstraction-layer?#New-style-virtual-fields), but they are calculated in Python layer, though  this could also be done in DB layer.

I would like to pass Expression of fields in similar way?

instead of
[code]

Would be nice to have
[code]

ps.:
- this could also be applied to aggregates

[2017-01-03 06:44] dz0 opened #1554 "Field.Virtual (and Field.Method) could have "needed_fields" as attribute"
Now, one needs to define separately, what needs to be selected for Virtual or Method,

but if I define it inside object would be easier to manage big selections (o grid could be even smarter, and include needed fields in select:

instead:
[code]

[code]

ps.: ```needed_fields``` could be also from other tables  ( in this case joins would be to manage by programmer -- though in far future could be

[2017-01-03 17:32] abastardi commented on #1553
Note, there may be other ways to allow expressions in DAL `Row` objects to be displayed in the grid, but something like the API proposed above could have more general utility. If we decide to go with something like the above, then a companion issue should be opened in the PyDal repository.

[2017-01-04 11:20] dz0 commented on #1553
For the simplicity, I'd try to avoid pyDAL changes at the beginning..
Field.Virtual is generally an alias of FieldVirtual. Instead of Field.Expression  there would be Expression with extra attrs - listed in the "``fields``" parameter...  Maybe like this

[code]

The select() already handles Expressions, so, imo, no need to trigger pyDAL for now...

[2017-01-04 15:59] abastardi commented on #1553
To work in the grid, it would have to be something more like this:
[code]
However, the grid will provide a link to make the expression column sortable, but clicking that link will result in an exception (because the grid expects the `order` key in the querystring to be in `tablename.fieldname` format, but when the expression is converted to a string, it instead results in the raw SQL of the expres

[2017-01-04 23:52] lben commented on #672
I am having 'SQLFORM' object has no attribute 'record_changed' with this code:

`form = SQLFORM(db.preordenes, record_id=preorden_vuelo.id, readonly=True, ignore_rw=True,
                         fields=['costo'], submit_button=T('ACEPTAR'))

form.process(onvalidation=validar_eula, detect_record_change=True)
    if form_pedir.record_changed:
        print 'registro cambiado'`

Is this feature actu

[2017-01-06 22:23] abastardi opened #1556 "Enable file uploads via Ajax components"
web2py.js currently uses jQuery `.serialize()` when submitting forms via Ajax, which does not allow files to be uploaded. We should instead consider using the [`FormData` API](https://developer.mozilla.org/en-US/docs/Web/API/FormData), as outlined [here](http://blog.teamtreehouse.com/uploading-files-ajax), which would allow file uploads.

[2017-01-09 10:51] josedesoto opened #1557 "Improvement on alternate login methods (CAS and SAML)"
These changes I have been testing and working correctly in my computer. If you approve I can merge the changes.

When web2py SAML SP os CAS client is configured as alternate login the system auto create the users once he is logged into the SAML IDP or CAS server. I suggest to have a extra value to customize if you want to have auto create users or if you want them to be created manually into your

[2017-01-14 20:43] dartg commented on #1554
I've opened a similar issue here: https://github.com/web2py/web2py/issues/1394.

[2017-01-16 10:09] dz0 commented on #1553
I think, FieldExpression makes more sense in grid than table, because generally it can have fields from different tables...

[2017-01-16 10:12] dz0 opened #1559 "feature request: filter by aggregates in dataset "generators" like IS_IN_DB, SQLFORM.grid"
I run into situations, when I'd like to have "having" parameter in  functions, generating  data sets ( IS_IN_DB, SQLFORM.grid  )...

would it be hard to implement?

[2017-01-16 15:10] abastardi commented on #1553
Nothing would prevent the more general form of `Field.Expression` from working with queries that join multiple tables (it's just a way of adding some metadata to a DAL `Expression`). I don't think it would be worth creating this functionality and then limiting it to the grid only, as it could have much wider applicability. However, if we were going to limit it to the grid, there would be no need f

[2017-01-18 23:05] BrenBarn opened #1560 "Some Service types lumped together incorrectly"
In gluon.tools, the Service class defines a number of attributes run_procedures, json_procedures, etc., for storing different types of service functions.  However, some of the decorator methods store the decorated functions in an incorrect place.  For instance:

[code]

You can see at the end it is putting it in `run_procedures`, but this is the `csv` decorator, so it should be putting it in `csv_

[2017-01-21 04:31] BrenBarn opened #1561 "Provide a way to write "service" functions that accept *args/**kwargs"
Currently, if you write a "service" function using the decorators like `@service.json`, etc., it can't usefull accept varargs.  This is because the `universal_caller` function in gluon.tools only passes arguments that explicitly correspond to named arguments in the service function's signature.  (This in turn is likely because `universal_caller` is working based on things like `co_argcount`, which

[2017-01-22 17:32] abaric commented on #1551
Any progress on this??

[2017-01-25 19:34] grakkpl opened #1563 "'not authorized' issue when deleting entry with ";" in value"
I'm running web2py 2.14.6. The table is created externally and does not have "id" field:
[code]
If you create a SQLFORM.grid and add a "commit_id" with ";" as value everything works fine and the entry is added to the db as well as properly displayed by SQLFORM.grid.
**If you try to remove it (clicking on "delete" button in the SQLFORM.grid) it shows "not authorized" popup (sometimes no popup at al

[2017-01-25 19:40] grakkpl opened #1564 "Adding extra form elements does not pass value in SQLFORM.grid"
I am using web2py 2.14.6.

The following instruction works great for SQLFORM:
http://web2py.com/books/default/chapter/29/07/forms-and-validators#Adding-extra-form-elements-to-SQLFORM

...and partially for SQLFORM.grid (you can **add** additional fields) but the value from the extra element is not passed in the form:

**for SQLFORM.grid `form.vars.agree `does not exist in the onvalidation/oncreate/

[2017-02-07 18:48] amerikan commented on #1511
#1567

[2017-02-07 19:12] Marlysson commented on #1511
Two pull requests to this?

[2017-02-07 19:31] amerikan commented on #1511
I made the edits through Github web interface. I didn't know how to consolidate changes using Github website only :)

[2017-02-09 15:36] geordanis opened #1569 "error in SQLFORM.grid with table auth_membership"
Error snapshot : <type 'exceptions.TypeError'>(reduce() of empty sequence with no initial value)
The table auth_membership has some data correctly inserted.

[2017-02-10 20:17] abastardi opened #1570 "IS_NOT_EMPTY and IS_EMPTY_OR should not strip whitespace"
When checking values for being empty, the IS_NOT_EMPTY and IS_EMTPY_OR validators first strip whitespace to ensure the value isn't just whitespace. The problem is that these validators then return the stripped version of the value instead of the original value. This means that values that are not just whitespace but include some whitespace will be transformed before being inserted in the database.

[2017-02-11 06:07] tomcam commented on #1537
I love this idea for a variety of reasons. The best one for marketing is that it's what people are used to with Django, Laravel, etc. I think it would also be good to allow controllers, models, and views to be created from the command line. Yes, I totally know how easy it is to do these things in the web2py IDE. It's marketing-- a matter of what people expect, not what's logical.

[2017-02-11 13:02] Marlysson commented on #1537
Great .. This make easy start with web2py, who came from others framework..

Open the doors.. And how the programmer already stay in the command line , use them..

[2017-02-12 11:22] nextghost opened #1571 "Information disclosure vulnerability in AutocompleteWidget"
Executing `AutocompleteWidget.callback()` from `AutocompleteWidget` constructor is a bad idea. When you instantiate the factory class in a model file, the callback will become exposed from every page in your application. The callback should be executed from `AutocompleteWidget.__call__()` so that it'll be subject to the same access control restrictions as its parent form.

[2017-02-13 10:17] manuelep commented on #1537
Il 26/11/16 22:45, Marlysson Silva ha scritto:

What about move the welcome app to a separete github project and clone
from it?

Off course the main project would be manteined in sync with this, and
the welcome app would be managed as a sub project just the same as pyDAL
I guess...

    M.

[2017-02-13 11:00] Marlysson commented on #1537
from it?

Separate why?

Just with the welcome app don't would be possible to use the command "newapp", would it ?

Has that modify the core ( gluon ) of the web2py..

[2017-02-14 14:51] AmpingGood opened #1572 "Windows Cron error when enabling"
When enabling Cron on windows from CMD with:
web2py.exe -K AppName

The following error is displayed

C:\Windows\System32>web2py.exe -K TrackingApp
web2py Web Framework
Created by Massimo Di Pierro, Copyright 2007-2017
Version 2.14.6-stable+timestamp.2016.05.10.00.21.47
Database drivers available: psycopg2, pymysql, imaplib, MySQLdb, sqlite3, pyodbc
starting single-scheduler for "AppName"...
Trace

[2017-02-14 15:24] niphlod commented on #1572
Ti;dr: don't ever use cron on web2py. It is officially deprecated.

Il 14 feb 2017 3:51 PM, "AmpingGood" <notifications@github.com> ha scritto:

[2017-02-14 23:18] jparga opened #1573 "auth.has_membership('groupname') error in menu.py GAE"
This error started today in a year working application.

`Unable to store in FILE: /base/data/home/apps/e~xxxxxxxxx/0.39/applications/xxxxxxxx/models/menu.py

Traceback (most recent call last):
  File "/base/data/home/apps/e~xxxxxxxxxxxx/0.39/gluon/restricted.py", line 227, in restricted
    exec ccode in environment
  File "/base/data/home/apps/e~c/0.399/applications/xxxxxxx/models/menu.py", line

[2017-02-16 13:02] lemberger opened #1574 "Scheduler menu empty in admin widget"
Using the stable downloadable version, source. The "Scheduler" menu remains empty even if app includes scheduler.py in models. The only way that works is to start scheduler with -K myapp independently. The combined -K myapp -X also does not seem to work. (MacOSX 10.10.5)

![image](https://cloud.githubusercontent.com/assets/23602/23022330/87283764-f450-11e6-8d02-f3fd73e34b5e.png)

[2017-02-23 10:09] manuelep opened #1576 "problem with json fields"
I noticed some problems passing from pydal **v16.03** to a newer version using json field and postgresql adapter.
Defining a table with a json field and exploring the data using the admin interface this exception is raised:

[code]

The strange thing is that reloading the webserver I can reload the page with no errors but an exception is raised exploring a single record... again if I reload the fr

[2017-02-24 09:46] zvolsky commented on #1534
I'm sorry I read this to late and don't remember the scenario now.
But it was something very basic like T() inside controller, model, view or module.

[2017-02-24 23:34] Marlysson commented on #1570
I think that is just midify this peace:
https://github.com/web2py/web2py/blob/master/gluon/validators.py#L991-L999

[code]

Using the ```.strip()``` just in the argument the function ```isinstance``` and leave the original value in rest of function.

[2017-02-25 13:28] abastardi commented on #1569
I cannot reproduce. Please show your exact code.

[2017-02-25 15:03] geordanis commented on #1569
Before, thanks for your attention.
the error starts when I trying to use de SQLFOM.grid with the table auth_membership.

I have got this in a controller:
@auth.requires_membership("Administradores")
def admin_panel():
    query = request.vars.query or "auth_user" #to recive the name of the table to be showed, other wise auth_user by default
    grid = SQLFORM.grid(db[query],user_signature=False,ed

[2017-02-25 15:23] geordanis commented on #1569
In my case the built-in restrictions of the table auth_membership respect to the tables auth_user and auth_group  does not work correctly with the SQLFORM.grid search mechanism.

[2017-02-25 19:48] abastardi commented on #1569
If you just enter a search string directly in the search input without using the advanced search query builder, the `SQLFORM.build_query` method will only search `string`, `text`, and `list:string` fields. However, because the `auth_membership` table does not include any of those field types, `build_query` produces this error. This is a bug in `build_query`, which should check to make sure there i

[2017-02-26 08:51] AnneVerme opened #1577 "SQLFORM.widgets.options.widget in case of [IS_EMPTY(..)]"
I have the following field definition:

Field('seniority', length=64, default='', requires=[IS_EMPTY_OR(IS_IN_DB(db_st, 'st_seniority.name', '%(name)s', orderby=db_st.st_seniority.id, zero='Select a value'))], widget=SQLFORM.widgets.options.widget, label='Seniority'),

When the form containing this field contains an error the options widget is rendered without the form-control selector in the clas

[2017-02-26 23:26] ndegroot opened #1579 "test_expose_base_inside_dir2_state fails on OSX pointing to tools.Expose() failing in similar cases"
checked in trunk: commit16f60d5 (30 jan 2017)

## Problem
The test below checks the class Expose in gluon/tools by creating a folder structure in  /var/folders, but it fails in macos. I think I know why but I'm not sure about the fix.

## What's happening
As a security measure issue (#1261) the files found in the exposed folder passed to Expose() are checked by calling isprivate() (and by calling

[2017-02-27 07:49] jigarmistry opened #1580 "Manual image upload"
Hi All,

This is support question. I don't have access to gmail so here I am asking.

I am taking a image in mobile app and need to upload a image from mobile to web2py web interface using API. How can I do that ?

Thanks,
Jigar

[2017-02-27 10:10] jigarmistry commented on #1580
Got the solution. Someone can get the help from this.

DB Table:
`db.define_table('myfile',
                Field("name"),
                    Field('image', 'upload'))`

API End - Point:

[2017-02-27 10:10] #1580 closed

[2017-02-27 14:22] geordanis commented on #1569
That was the answer i was expecting for; thanks a lot. That not records were showed with a search string directly in the input in these cases could happen, but should not happens that error be showed without treatment; i an thinking as a final user not as programmer; so i hope that this bug be removed. regards

[2017-02-27 15:47] abastardi commented on #1569
I agree -- an exception should not be generated simply because of the content a user enters in the search box.

[2017-02-28 23:07] geordanis commented on #1569
in sqlhtml.py line 1823 if the table has not searchables fields as the case of auth_membership a error is raised because of
a reduce() with an empty collection

        if key and not '"' in key:
            SEARCHABLE_TYPES = ('string', 'text', 'list:string')
            sfields = [field for field in fields if field.type in SEARCHABLE_TYPES]
            if settings.global_settings.web2py_runtime_

[2017-03-01 16:01] matclab opened #1582 "IS_EMAIL does not handle Internationalized Domain Names"
[Internationalized domain names](https://en.wikipedia.org/wiki/Internationalized_domain_name) allows for unicode characters in domain names.

As thus IS_EMAIL default regex should be updated to allow for such domain, else it would for example prevent people with mail addresses on IDN to subscribe.

[2017-03-01 16:41] matclab commented on #1582
[RFC 5336 §3.3](https://tools.ietf.org/html/rfc5336#section-3.3) Precise the extended mail address syntax to support for IDN.

[2017-03-01 16:48] matclab commented on #1582
So, a UTF8 string is permitted. That string MUST NOT contain any of the       ASCII characters (either graphics or controls) that are not permitted in "atext"; it is otherwise unrestricted.

Where:
[code]

(See RFC 5322)

[2017-03-02 20:35] matclab opened #1583 "Mail.send may fail at converting None to unicode on GAE"
See [lines 783 and similar in tools.py](https://github.com/web2py/web2py/blob/master/gluon/tools.py#L783) where text may be None (for an html only mail) and thus raise an exception:
[code]

[2017-03-03 02:54] khoa102 opened #1584 "Problem with installing web2py in mac"
The web2py.app file in the extracted folder did not execute when I open it. I found out that I need to put it into a folder that is included in the path environment variable to make it executable. If so, you may want to put that in the install instruction or make edit to the app.

[2017-03-03 16:10] leonelcamara commented on #1583
I'm not sure this is a bug as much as you not being able to use stuff that is not convertible to a string as the subject. If you want to send with an empty subject just use an empty string.

[2017-03-03 17:29] matclab commented on #1583
Yes indeed, but the problem comes from `body=to_unicode(text, encoding)` where `text` is `None` as explicitly authorized by the documentation:
[code]

Thus sending an html only message fail.

[2017-03-03 20:51] matclab commented on #1583
A quick and very dirty working patch :
[code]

[2017-03-05 02:29] apoleon opened #1585 "CVE-2016-4806, CVE-2016-4807, CVE-2016-4808"
Hello,

several security vulnerabilities were reported for web2py and they already got CVEs assigned. I could not find any information about them in your git repository. Are you aware of them and are there any fixes available?

https://security-tracker.debian.org/tracker/source-package/web2py

[2017-03-06 06:41] brianmay commented on #1585
The wording of the CVEs implies that this is fixed in 2.14.6. I am not sure that is correct, it could be that 2.14.5 was the latest release at the time.

Looks like the CVEs were allocated 2016-05-15 and version 2.14.6 was released 2016-05-10.

[2017-03-06 06:52] brianmay commented on #1585
Not sure if the following commits are significant, just looking at the changes in 2.14.6 by hand:

* ?? - [CVE-2016-4806](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-4806) - access local files
* 51c3b633fe7ad647bc3013e899c1e3a910362dd1 - maybe fix for [CVE-2016-4807](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-4807)(XSS)?
* 4bd002aee978813bc664cf186ef38ff4e8bbe1cd - maybe f

[2017-03-06 07:02] brianmay commented on #1585
This also looks like a security fix:

* 944d8bd8f3c5cf8ae296fc03d149056c65358426

[2017-03-06 07:20] carnil commented on #1585
@brianmay: re the CVE allocation question: That only means:

Disclaimer: The entry creation date may reflect when the CVE-ID was allocated or reserved, and does not necessarily indicate when this vulnerability was discovered, shared with the affected vendor, publicly disclosed, or updated in CVE.

[2017-03-06 15:39] #1418 closed

[2017-03-08 01:08] liuyibing45 opened #1587 "eclipse+pydev breakpoint not work with the latest cloned web2py."
My computer is win7 x64. I am using eclipse(4.6.2) ,pydev(5.5.0), python(2.7.13) and the web2py latest cloned from the github. Compared with the 2.14.6 stable version web2py, the latest cloned web2py has many additonal files which I guess may be used for compiling and debugging. However when I debug my application which based on the latest cloned web2py, the breakpoint I set in my controller/defau

[2017-03-08 06:44] brianmay commented on #1585
CVE-2016-4806 looks the most serious to me. Not sure what the scope of "intended user" means however. Can I please have confirmed if this has been fixed? None of the commits I have looked at after 2.14.5 look relevant.

[2017-03-09 17:18] btbonval opened #1588 "Virtual Fields do not appear to work with Autocomplete widget"
I've seen a few posts in the mailing list where people could not figure out how to get a Virtual Field to work in the Autocomplete widget. Most just say it isn't supported. One post noted that `db=db(db.table)` should be included into the Autocomplete widget. That certainly helps, but I see an error.

[code]

This is because `db(db.table)` is a Set object, and the following code won't work with a

[2017-03-14 23:49] hyanwong opened #1592 "LOAD(ajax=True) is missing a translation"
When I call `{{=LOAD('default','page.load', ajax=True)}}` in a view, it displays the text "loading..." while the component is being loaded. On my version of web2py (Version 2.14.6-stable+timestamp.2016.05.10.00.21.47, on OS X), the string 'loading...' is not translated into different languages, e.g. if I visit the page with a browser set to default to french.

[2017-03-18 15:17] #1319 closed

[2017-03-21 10:57] dz0 opened #1595 "field.set_attributes(..) could return the instance"
Would let the code be  more straightforward -- example, when passing the "decorated" field to the function...
Now I have to   "scatter" the code in two places for each field...

https://github.com/web2py/pydal/compare/master...dz0:patch-1

[2017-03-21 17:24] #1592 closed

[2017-03-24 13:55] Holmes70 opened #1596 "In scheduled tasks or background tasks request.folder is relative path only"
When a module is called with parameters "-K" as scheduled task or "-Q -M -S" as a subtask request.folder returns a path relative to the execution folder. It is not an absolute path as stated in the book (http://web2py.com/books/default/chapter/29/04/the-core#request).

[2017-03-24 15:10] abastardi commented on #1588
`Field.Virtual` takes a `table_name` argument, so you must specify the table name in order for this to work. Assuming that corrects the problem, maybe close this issue and instead open one with the web2py book repo to document all the arguments to `Field.Virtual` and especially not the need to specify `table_name` in order for various other features to work properly.

It may also be possible to al

[2017-03-28 14:36] frankclaessen opened #1597 "trouble with handling request.vars.checkbox list"
Hi all,

This is my first question for the list; up to now i have been lurking and learning mainly.
I think it is fair to say I am not an experienced python programmer so - this might just be my lack of knowledge. Forgive me please if my question shows just that.

I built a form that enables users to choose more than 1 row through a checkbox.
This form and the subsequent handling just works fine,

[2017-03-28 17:08] frankclaessen commented on #1597
Hi all, Frank again. I have been debugging more and found the cause for this error:

If there is just one choice, the type is str (string) and if there is more than one choice, the type is list.
That's why the length is 2 if there is just one choice!

So there is a need to test the type after the choices have been made and act accordingly.

I found the same comment regarding the use of selectables

[2017-03-29 14:31] gauravvichare opened #1598 "URL having character | in fragment part, does not pass IS_URL validator"
`IS_URL()` validator doesn't accepts following url and similar google group urls.
Example: https://groups.google.com/forum/#!searchin/web2py/url$20validation$20problem|sort:relevance/web2py/69KmsrYAF44/Sgk_hA_6TlcJ

Character | should be allowed in fragment part of the url

[2017-03-30 16:48] feend78 opened #1599 "Adapter not found for oracle"
We use web2py to build monitoring for processes running inside Oracle databases. However, we are experiencing an error when attempting to use the cx_Oracle driver in the current web2py master.

When starting the server, the following output is produced:
[code]

However, when calling a controller that attempts to access an Oracle database, it produces a trouble ticket with the following error:

[co

[2017-03-31 04:21] dengsang opened #1600 "how can fix the administrator issue. i fed the wrong administrator password and now it can't allow me to access the admin side"

[2017-03-31 07:36] michele-comitini commented on #1600
If you can access on local machine (127.0.0.1) on port 8000
go in web2py dir and start web2py:

python web2py.py -a '<put your new password here>'

point your browser at http://127.0.0.1:8000/admin

and use the new password.

Il venerdì 31 marzo 2017, dengsang <notifications@github.com> ha scritto:

[2017-04-03 18:47] leonelcamara commented on #1600
You may also have to edit applications/admin/private/hosts.deny and remove the line with your IP if you got blocked.

[2017-04-03 21:50] dengsang commented on #1600
Actually i was blocked. kindly give the procedure on who to do the same

On Mon, Apr 3, 2017 at 9:48 PM, Leonel Câmara <notifications@github.com>
wrote:

[2017-04-04 10:48] leonelcamara commented on #1600
I've already given you the procedure, edit hosts.deny with any text editor and remove the line with your IP.

@dengsang do you mean we should put it in the book?

If so, and your issue is solved, please open an issue in [web2py-book](https://github.com/web2py/web2py-book) and close this one.

[2017-04-05 13:08] leonelcamara commented on #1583
@matclab that patch seems good to me, why don't you submit a pull request? Don't forget to reference this issue so it closes it when it gets merged.

[2017-04-05 19:13] ilvalle commented on #1595
Would you open a PR on https://github.com/web2py/pydal?

[2017-04-05 19:27] ilvalle commented on #1582
IS_EMAIL is based on a complex REGEX, see https://github.com/web2py/web2py/blob/b2e03c9dee935d46cb9512f0595dc2dacddb5166/gluon/validators.py#L1159
Related to this https://docs.python.org/2/library/codecs.html#module-encodings.idna

[2017-04-06 19:12] leonelcamara commented on #1585
@brianmay I've fixed 4806 here:
https://github.com/web2py/web2py/commit/1b42fe65472930668435007cfcb077207051ba34

Narendra Bhati who discovered these flaws was kind enough to report them to us before making them public.

The problem was that the admin app was allowing you to pack any file, now it validates that the files are in the applications folder. Note that you still needed to be logged in to

[2017-04-08 19:38] Marlysson opened #1605 "Error while view graph model - admin application"
When I gone view the Graph model in admin application show that `pygraphviz` library is required.

Didn't would be better already include this library in dependencies's framework?

This missing break any feature that uses this library from admin app

## Details:

Version 2.14.6-stable+timestamp.2016.05.10.00.21.47

## Error:

[code]

Probably include the library solve this.

[2017-04-08 20:51] leonelcamara commented on #1605
It's not a dependency of the framework it's a dependency of that specific feature in the admin application. It's not possible to bundle because pygraphviz depends on graphviz which is not python.

[2017-04-09 02:35] Marlysson commented on #1605
@leonelcamara All right. But being in the framework it's expected that the features works .. Or that exists some way to use them.

I will try install it.

[2017-04-09 04:42] #1605 closed

[2017-04-09 06:21] ilvalle commented on #1605
The best is to switch to d3, an example has been proposed by @willimoa see https://github.com/willimoa/welcome_d3.
A pull request to replace the current graph with this new one is very welcome.

[2017-04-09 15:11] Marlysson commented on #1605
Great! .. I'll take a look.

[2017-04-10 06:25] gerencia commented on #1587
Same issue here with Win10.

[2017-04-14 01:50] willimoa commented on #1472
Just completed a Pull Request for a d3 based graph model.   Once tested and accepted, it should fix this issue.   Note I have left the graphviz code as is.   Some people want to keep it and it should work as is, but it could be removed.

[2017-04-15 05:37] ilvalle commented on #1552
@kristjanvalur https://github.com/web2py/web2py/issues/1565 has been merged, would you close this commit?

[2017-04-15 05:39] ilvalle commented on #1542
@RekGRpth would you post a PR with the proposed changes?

[2017-04-15 07:50] ilvalle commented on #1560
@BrenBarn https://github.com/web2py/web2py/pull/1566 has been merged, would you close this issue?

[2017-04-15 07:51] ilvalle commented on #1561
@BrenBarn https://github.com/web2py/web2py/pull/1566 has been merged, would you close this issue?

[2017-04-15 08:02] ilvalle commented on #1556
The only thing I see to discuss is that formdata is supported on IE 10.0+. Is it worth to drop IE <10 support?
@abastardi what do you think? @ms42Q would you try to post a PR ?

[2017-04-15 09:35] leonelcamara commented on #1556
I think we would need to have serialize as a fallback, sadly lots of people still need to support older IE versions

[2017-04-15 10:05] #1552 closed

[2017-04-16 02:23] abastardi commented on #1556
Yeah, just check whether `typeof(FormData) !== 'undefined'`, and fall back to `.serialize()` otherwise.

[2017-04-20 17:17] alexandremasbr opened #1609 "py3: Error importing csv file (using appadmin and in code)"
When trying to import a csv file in appadmin, I get a flash message:
[code]

I tried to import using code:
[code]

and got exactly the same message:

[code]
I got it working in my code with
[code]
Looks for it works with python3, needs to be explicit declared the encoding.

[2017-04-20 18:45] ilvalle commented on #1609
Thanks for reporting, as you proposed such issue can be fixed by importing
```from gluon.fileutils import open_file```
and then, replacing
```db.mytable.import_from_csv_file(open('db_mytable.csv', 'r'))```
with
```db.mytable.import_from_csv_file(open_file('db_mytable.csv', 'r'))```

Would you post a pull request with such fix?

[2017-04-20 20:34] dz0 commented on #979
I ran into similar problem dealing with SQLFORM.factory:

  File "applications/test_app/modules/plugin_AnySQLFORM.py", line 385, in get_value
    self.process(session=None, formname=None, keepvalues=True, hideerror=True, dbio=False, onfailure=None)
  File "/home/jurgis/dev/web2py_src/gluon/html.py", line 2298, in process
    self.validate(**kwargs)
  File "/home/jurgis/dev/web2py_src/gluon/html.py

[2017-04-21 23:47] lben opened #1611 "select returns records from a table different of my select"
Hi, I have this table:

`db.define_table('contrato',
                Field('empleado_id', 'reference empleado'),
                Field('empresa_id', 'reference empresa', label='Empresa', requires=IS_IN_DB(db(db.empresa.id.belongs(get_id_empresas_usuario_logueado())),
                                                                                            'empresa.id', '%(razon_social)s')),

[2017-04-22 01:48] lben commented on #1611
Ok, after further analysis I noticed that in my common_filter I execute this method: get_id_empresas_usuario_logueado() which have this line:
`grupos = db().select(db.auth_group.role)`
it seems that this query executes last and overrides my original query so I add this lines to my model so I run this query only one time and before every other query:
`if session.ids_empresas_usuario_logueado is Non

[2017-04-23 12:12] leonelcamara commented on #1611
Using the session for this seems fine although I would probably put it there on login_onaccept.

As for why the common_filter was causing the problem, was your common filter returning a Query as it should? Can we see the original code for it?

[2017-04-25 08:44] Tset-Noitamotua opened #1612 "Python 3 compatibility?"
Is web2py fully Python 3 compatible?

[2017-04-25 13:10] kirsn commented on #1612
There is work going on in this direction. There is an open issue: https://github.com/web2py/web2py/issues/1353.

Also, try to follow some of the conversation on the web2py google group - https://groups.google.com/forum/#!forum/web2py - to get a better perspective.
 This for example: https://groups.google.com/forum/#!searchin/web2py/python$203|sort:relevance/web2py/2YB-cZ3mww8/sF93modxBgAJ

[2017-04-25 14:39] Tset-Noitamotua commented on #1612
Thanks! I'll check that out.

[2017-04-26 15:34] kkantor opened #1613 "Cannot connect to 2nd generation Google Cloud SQL instance"
1st generation (now declared legacy) Google Cloud SQL instances do not require user / password to be specified to connect from an App Engine app to an SQL instance. That's why, i guess, the connection string, unlike most others, does not include user/password: "google:sql://project:instance/database"

2nd generation instances do require user/password, and there's nowhere to set it in web2py, at le

[2017-04-27 01:54] fiubarc opened #1614 "Next release??"
Hello, first of all, thanks for this great framework!!!
I would like to know if you are going to upload a new version. I need to upgrade to a stable version to get the fixes and improvements.

Thanks!!

[2017-04-27 13:46] Tset-Noitamotua opened #1615 "Is it possible to build a realtime chat application with web2py?"
Is it possible to build a realtime chat application with web2py?

If so, can anybody point to some beginner friendly examples or tutorials please.

[2017-04-27 13:52] Tset-Noitamotua commented on #1615
... I found this one by googling: [w2pchat][]

[w2pchat]: https://github.com/rpedroso/w2pchat

[2017-04-28 13:04] #1505 closed

[2017-04-28 13:05] #1582 closed

[2017-04-28 13:07] #1570 closed

[2017-04-28 13:12] #1609 closed

[2017-04-28 13:14] #1599 closed

[2017-04-28 13:28] Marlysson commented on #1615
There are this tutorial:

[Youtube video](https://www.youtube.com/watch?v=MUWy-NSrvNQ)

By @brunorocha . And he uses websockets.

[2017-04-28 16:00] Tset-Noitamotua commented on #1615
Unfortunately I don't understand Bruno :( - his video is not in English.

[2017-04-28 18:39] Marlysson commented on #1615
Try repeat what he do..

It funny : A english person needing to something that isn't english :D .
We ( other countries ) read and watching content and videos in english (repeating and learning)  .. Try this..
If you don't achive speak me your dificulty..

[2017-04-28 19:00] alexiade opened #1618 "Cron does not work in Git master"
Attempt to enable  cron with -Y leads to following stack trace:

 python2.7 web2py.py -Y  -i 0.0.0.0
web2py Web Framework
Created by Massimo Di Pierro, Copyright 2007-2017
Version 2.14.6-stable+timestamp.2016.05.09.19.18.48
Database drivers available: sqlite3, imaplib, pyodbc, pymysql, pg8000
Traceback (most recent call last):
  File "web2py.py", line 33, in <module>
    gluon.widget.start(cron=Tr

[2017-04-28 19:02] BuhtigithuB commented on #1615
Example is pretty self explaining if you follow study the code and the
demonstration. Put the vid on pause as needed.

Notice, I don't think github is the proper channel to ask such kind of
question... Please close the ticket over github and come back on the google
groups mailing-list.

Thank you

Richard

On Fri, Apr 28, 2017 at 2:40 PM, Marlysson Silva <notifications@github.com>
wrote:

[2017-04-29 09:25] Tset-Noitamotua commented on #1615
Ok. I'll try. Thank you.

[2017-04-29 09:25] #1615 closed

[2017-04-30 22:18] DonaldMcC opened #1619 "auth.settings.username_case_sensitive = False not usable on python 3"
The above setting results in an invalid email message ie fails validation so while you can register you can't then log back in again on python3 only.

[2017-05-01 13:37] ilvalle commented on #1619
Can you elaborate a little more the issue?
Mind that setting `auth.settings.username_case_sensitive = False` forces username to be converted to lowercase and there are no differences between py27/py35.

[2017-05-01 14:13] #636 closed

[2017-05-01 14:13] #1506 closed

[2017-05-01 20:31] DonaldMcC commented on #1619
Wasn't much more too it - basically if I put that line in model file then it gave me the error when validating the login form.  However I have pulled down latest version as of today with the auth refactor and problem no longer recurrs so closed the issue

[2017-05-01 20:31] #1619 closed

[2017-05-03 09:29] nicozanf opened #1621 "Traceback problem with Python 3"
With the current master branch, there is a traceback compatibility problem with Python 3 - you always get 'no traceback because template parsing error' instead of the real traceback.

The real traceback can be generated on the command line by changing https://github.com/web2py/web2py/blob/master/gluon/restricted.py#L139 ; removing the try/except and leaving only

 `self.traceback = traceback.forma

[2017-05-04 04:57] #1618 closed

[2017-05-04 07:57] willimoa commented on #1472
Resubmitted my first dodgy Pull Request.  This is now added to web2py.   Graphviz code is still there and should still display if the library is present.  Otherwise you'll get the d3 model.
This Issue should now be closed.

[2017-05-04 17:10] ilvalle commented on #1472
We should move to a js only approach. Admin app should be cleaned from any code regarding graphviz. @willimoa would you post a new PR with such changes?

[2017-05-06 07:54] willimoa commented on #1472
Sure.

[2017-05-07 11:20] Scimonster opened #1624 "Unicode in XML sanitizing causes error"
If i pass a unicode string to the `XML` helper with `sanitize=True`, it throws an error:

[code]

[2017-05-08 11:43] snakeli opened #1627 "It cost a long time to load page"
I have about 4 client connect to the server, every client will upload data by @service.xmlrpc every 3 - 6 second. However it lead to long time to load webpage, even an empty page, it cost about 6-10 second to load it.
Seems it will execute models every time client upload dates. does it influence the cpu usage? I checked the CPU(top), python CPU usage is about 110%(quad-core)。

[2017-05-08 11:53] niphlod commented on #1627
Models are executed at each and every request (that's the whole beauty of
them)... But unless something terribly wrong is going on on your app, 10
seconds to load a page are definitely tuo much. A normal-complexity web app
usually takes 50-60 ms to load

Il 08 mag 2017 13:43, "Junjun.Li" <notifications@github.com> ha scritto:

[2017-05-10 03:35] leonelcamara commented on #1627
Probably a lock is causing this problem. Try calling session.forget(response) as soon as you can if you don't need to save things in the session.

[2017-05-10 18:34] abhishesh opened #1628 "NameError: global name 'signature_list' is not defined"
[code]

[2017-05-10 19:11] leonelcamara commented on #1628
I don't think this error exists in trunk, can you try it.

[2017-05-10 20:26] nicozanf opened #1629 "The integrated web-based debugger is broken with current MASTER branch"
I've found that the integrated web-based debugger functionality (http://web2py.com/books/default/chapter/29/03/overview?search=debugger#Integrated-web-based-debugger) is broken with current MASTER branch - while it works fine with the current static source.

In particular, adding the lines:

[code]

to the standard Welcome app gives the following traceback (with Python 2.7 and 3.5, too)

<type 'ex

[2017-05-11 03:29] abhishesh commented on #1628
This happens when we do `enable_tokens=True` in `auth.define_tables()`. I'll check if there is a unit test around it !

[2017-05-11 03:36] abhishesh commented on #1628
by the way ! trunk == master is it !

[2017-05-11 04:03] abhishesh commented on #1628
Change to following in `gluon/tests/test_tools.py`

[code]
and run on master branch
[code]
we get the error

[2017-05-11 06:24] #1560 closed

[2017-05-11 06:24] #1561 closed

[2017-05-11 12:48] leonelcamara commented on #1628
@abhishesh you are right! Good catch of a bug due to the auth refactoring, I'll look into it.

[2017-05-11 18:38] ilvalle commented on #1629
@nicozanf would you mind to check https://github.com/ilvalle/web2py/tree/fix_1629

[2017-05-11 21:50] nicozanf commented on #1629
Ciao Paolo,

yes, this resolve the problem, with python 2.7 and 3.5, too!

But unfortunately the resulting layout is missing the "code listing" frame - see the attached screenshots... Is it possible to fix this one also?

Grazie,
Nico

This is the working static version:
![break_ko](https://cloud.githubusercontent.com/assets/2276743/25973409/3bebcf2c-36a4-11e7-8e38-154b7476ac96.png)

This is with

[2017-05-12 15:45] ilvalle commented on #1629
try now

[2017-05-12 17:22] nicozanf commented on #1629
YES, this fixes also the missing "code listing" frame. Now it works perfectly, with both python 2.7 and 3.5 on Ubuntu 16.10.

The issue can be closed, at least when the fix will be pulled to the master branch.

Thanks,
Nico

[2017-05-13 06:35] ilvalle commented on #1612
@Tset-Noitamotua we are close to support python 3.5, the best is to test master branch and report any issue. The open issue with few things to do is https://github.com/web2py/web2py/issues/1353
For now you can close this issue.

[2017-05-13 11:21] #1612 closed

[2017-05-15 01:05] GonzalezAnguita opened #1631 "Left join changes behavior"
When trying to make two left joins i noticed that the DAL returns two different rows for the same left join but one using a list.

`db(...).select(left=db.mytable.on(..))`

Returns a different selection that

`db(...).select(left=[db.mytable.on(..)])`

for a single left join.

[2017-05-15 10:55] #1631 closed

[2017-05-18 02:25] remcoboerma opened #1633 "'Mongo' object has no attribute 'server_version_major'"
Once every few requests i will get bugged down with this.

  File "/home/www-data/web2py/gluon/restricted.py", line 216, in restricted
    exec(ccode, environment)
  File "/home/www-data/web2py/applications/verzimpel_mozi_dev/models/db.py", line 67, in <module>
    is_admin = auth.has_membership('admin')
  File "/home/www-data/web2py/gluon/authapi.py", line 566, in has_membership
    group_id = se

[2017-05-18 13:27] pgastinger opened #1634 "REST - IP address as parameter, web2py thinks the last octet is an extension"
Hi,

I am currently building a rather simple REST-interface based on Web2py (Version 2.14.6-stable+timestamp.2016.05.10.00.21.47) and found a bug.

I want to provide an interface which queries our IPAM-solution for infos about a specified IP address/network, e.g.
1- https://web2pyhost/rest/net/192.168.1.1
2- https://web2pyhost/rest/net/192.168.1.0/24
3- https://web2pyhost/rest/net/192.168.1.1.

Th

[2017-05-20 19:03] huangyuku opened #1635 "heroku ADAPTERS error"
I'm looking to use Heroku for deployment of my web2py project. However, when I add
`from gluon.contrib.heroku import get_db`
`db = get_db(name=None, pool_size=myconf.get('db.pool_size'))`

I get a ticket with the error:

    from pydal.adapters import ADAPTERS, PostgreSQLAdapter
ImportError: cannot import name ADAPTERS

It looks like web2py has moved on from using ADAPTERS? Has that been replaced

[2017-05-31 09:19] timrichardson opened #1636 "sqlhtml.py throws exception when there is a left in query"
Line 2332 on sqlthml.py has a problem for me.
This is the context:

The grid causing this:

[code]

snippet surrounding line 2332
[code]
The last line in that snippet throws an exception.
`<type 'exceptions.TypeError'> unsupported operand type(s) for +=: 'dict' and 'dict'
`

` db._adapter.tables(join) `evaluates to
[code]
so we are trying to do += on two dicts

[2017-05-31 09:30] timrichardson commented on #1636
Note that the problem may be that
`gluon/packages/dal/pydal/adapters/base.py` tables(...) is returning a dict.

[2017-05-31 12:10] abastardi commented on #1636
gluon/packages/dal/pydal/adapters/base.py tables(...) is returning a dict.

Yes, `db._adapter.tables()` was changed to return a dict instead of a list at [this commit](https://github.com/web2py/pydal/commit/6b5e1b860e03030e265490ad01b0ba6b388eb3bb).

[2017-05-31 21:59] timrichardson commented on #1636
this is the fix. I'll do a pull request when I get a moment.

[code]

[2017-06-04 23:54] abastardi opened #1638 "Auth add_membership and del_membership mistakenly alter the logged-in user's session"
Auth `add_membership` and `del_membership` not only add and delete records in the `auth_membership` table, but they also add and remove items from the `self.user_groups` dictionary of the currently logged in user (see https://github.com/web2py/web2py/blob/8a741023d8a2631a0a33dc47ee08f73e71018efc/gluon/authapi.py#L529).

The problem is that the `self.user_groups` dictionary should only be updated i

[2017-06-05 15:25] BuhtigithuB commented on #1638
What about someone who change the membership of someone else??

On Sun, Jun 4, 2017 at 7:54 PM, abastardi <notifications@github.com> wrote:

[2017-06-05 16:36] abastardi opened #1639 "IS_IN_DB breaks with None values and id/integer fields"
If the `field` argument to `IS_IN_DB` is an `id` or `integer` field (which is the case for all reference fields) and the value submitted for validation is `None` (or anything other than an integer or a digit string), an exception is thrown at [this line](https://github.com/web2py/web2py/blob/8a741023d8a2631a0a33dc47ee08f73e71018efc/gluon/validators.py#L635) or [this line](https://github.com/web2py

[2017-06-05 16:39] #1624 closed

[2017-06-05 16:41] #1629 closed

[2017-06-05 16:48] abastardi commented on #1638
@BuhtigithuB, I'm not sure what you're asking, but that is exactly the problem. If User A (let's say an administrator) is logged in and adds or deletes a role for User B, the `auth.user_groups` list of *User A* will end up being altered, which is not what we want. The proposed code change ensures `auth.user_groups` gets changed only when the current user is adding or deleting a membership for them

[2017-06-05 17:02] BuhtigithuB commented on #1638
I though that these methods was suppose to allow user A (let's say an
admin) change membership of user B. I do understand that actually user
membership is momentarily wrongly updated... But is this change preserve
the expected behavior, I mean that admin can manage other users membership,
without them to logout and login again??

On Mon, Jun 5, 2017 at 12:48 PM, abastardi <notifications@github.com

[2017-06-05 18:34] abastardi commented on #1638
These methods can be used to change the memberships of either the current user or another user. Regarding what you call the expected behavior (i.e., that an admin can change another user's membership without the other user having to log out and back in again) -- that is *not* the current behavior. If User A adds a membership for User B, the `auth.user_groups` list of User B will *not* be updated b

[2017-06-05 22:44] #1628 closed

[2017-06-06 03:44] kirsn commented on #1627
@snakeli .. some questions:
how are you starting web2py (cmd line or web2py dialog), and on which platform (OSX, *nix) is this?
How big is the data that your client uploads? And are you using the default rocket server, or a different web server setup?
Are you seeing the high CPU soon after starting web2py, or only when the client invokes the server?

[2017-06-06 04:04] kirsn commented on #1598
My guess, is that `|` should be included in the code at this line: https://github.com/web2py/web2py/blob/master/gluon/validators.py#L1610
This change seems to work, though am not aware of the implications:
` GENERIC_URL_VALID = re.compile(r"[A-Za-z0-9;/?\|:@&=+$,\-_\.!~*'\(\)%#]+$")`

[2017-06-06 09:53] leonelcamara commented on #1636
@timrichardson this issue didn't close automatically with your pull being merged, because you wrote "fix **to** #1636" instead of "fix #1636" please close it.

[2017-06-06 09:55] leonelcamara commented on #1576
Can you describe how to replicate this easily?

[2017-06-06 13:13] #1636 closed

[2017-06-06 14:05] BuhtigithuB commented on #1638
Thanks for the explanation Anthony, I do agree that you found a non sens
bug... Now I have to scratch my head to understand why I have this behavior
in my app... I mean having a admin user able to modify other users
membership without them to need to log out and login again before the
change take effect..

On Mon, Jun 5, 2017 at 2:34 PM, abastardi <notifications@github.com> wrote:

[2017-06-06 14:13] BuhtigithuB commented on #1638
ok I understand, it because auth.hasmembership() which does a fresh query
each time...

How could we update someone else auth.user_groups?? Could we issue a one
time reinitialization command by setting a flag on/off when use
add_/del_membership?? We can then force a give user to reinit the
auth.user_groups list on his next request... I would requires more than a
flag if we don't want all the users

[2017-06-06 15:58] ilvalle commented on #1572
Perhaps a note about the deprecation of cron can be added in the book.
@mdipierro would you close the issue?

[2017-06-06 16:00] ilvalle commented on #1595
@mdipierro https://github.com/web2py/pydal/pull/458 has been merged, this issue can be close

[2017-06-06 16:01] ilvalle commented on #1598
@kirsn would you post a PR with the proposed fixed and an unittest for `|`

[2017-06-06 16:06] ilvalle commented on #1587
I guess https://github.com/web2py/web2py/pull/1630 fixed this issue too. @liuyibing45 @gerencia would you mind testing trunk?

[2017-06-06 16:08] ilvalle commented on #1511
@mdipierro https://github.com/web2py/web2py/pull/1567 and https://github.com/web2py/web2py/pull/1568 have been merged, this issue can be close

[2017-06-06 16:11] ilvalle commented on #1472
@kelsa-pi pygraphviz is no longer necessary, see https://github.com/web2py/web2py/pull/1622
This issue can be closed

[2017-06-06 16:12] abastardi commented on #1638
That's one approach, but then we need a way to persist the list of flagged users (preferably that easily scales horizontally), and there would be some cost on every request (at least every request that needs to check authorization) to check the list.

Another option would be to keep a record of active session identifiers for each user, and whenever a role change occurs, update all of that user's a

[2017-06-06 16:15] ilvalle commented on #1513
@mdipierro #1555 has been merged, this issue can be close

[2017-06-06 16:27] leonelcamara commented on #1598
That fix is not correct as that would allow | anywhere in the URL. It should only be allowed in the fragment.

[2017-06-07 05:49] kirsn commented on #1598
Wondering if using https://pypi.python.org/pypi/rfc3987 could help, instead of rolling our own URI / IRI validation logic?

[2017-06-07 23:14] rich5851 opened #1645 "Scheduler queue_task dumping json strings into Oracle DB with cx_Oracle"
When following the documentation and setting up scheduler for first time I came across the following error when my tasks started failing.

2017-06-07 23:22:26,785 DEBUG 3040 139872588486464 __init__():158    traceback: Traceback (most recent call last):
  File "/opt/web-apps/web2py/gluon/scheduler.py", line 311, in executor
    args = _decode_list(loads(task.args))
  File "/usr/lib64/python2.7/jso

[2017-06-09 20:49] BuhtigithuB opened #1646 "Replace Calendar by flatpickr"
As discuss here : https://groups.google.com/d/msg/web2py/9D2nKl5ULPc/m9uWFR4sAgAJ

I am working on it at a slow pace... I get it to work, but for some reason it only kick it the second time to focus the field, I guess there is some class that didn't get set properly as I only replace Calendar.set() by flatpickr jquery syntax... I have been able to init flatpickr for time type field as asked by Ant

[2017-06-13 19:42] leonelcamara commented on #1353
@niphlod PY3 doesn't need utf8.py at all as it doesn't have any of the problems of PY2 since the strings will always be unicode, that will cause it to fail the test when they try to test if repr is different as it won't be.
html.py was very easy to make pass by changing strings in the doctests to strings prefixed with b e.g.: b'\<div>\</div>' and adding this test_old_doctests.py:

    class Py23Do

[2017-06-14 14:30] #1639 closed

[2017-06-14 14:30] #1634 closed

[2017-06-14 19:11] tbear opened #1648 "Minor bug in access.py"
In 'admin/models/dkaccess.py' there is a (mostly harmless) error in line 55:13.  Specifically, a '-' (minus) where there should be an '=' (assignment operator).

    elif not _config.get('password'):
        ret = False  # Tanny Bear fixed was 'ret - False'.
    elif _config['password'].startswith('pam_user:'):

[2017-06-14 20:00] ilvalle commented on #1353
@leonelcamara proposal for gluon.html.py is fine to me, markmin needs to be fixed somehow.
Regarding the checklist, @niphlod you can check 'fixme in globals' and add a new line 'FIX contrib.minify'

[2017-06-15 01:21] leonelcamara commented on #1648
Make a pull request and fix it, you already have everything 👍

[2017-06-15 09:00] #1598 closed

[2017-06-15 09:30] #825 closed

[2017-06-15 09:38] josedesoto opened #1650 "Posible security bug"
Please, let me know an email to share information privately.
Kind regards.

[2017-06-15 10:23] kirsn commented on #1650
massimo DOT dipierro AT gmail

[2017-06-16 09:38] josedesoto commented on #1650
Thanks Kirsn for the info.
Finally it was a misunderstanding with an internal penetration tests. So, I will close the issue.
Apologize for this inconvenience.

[2017-06-16 09:38] #1650 closed

[2017-06-19 12:17] niphlod commented on #1353
done, plus pruned a bit older posts

[2017-06-20 16:53] #1648 closed

[2017-06-20 16:58] mdipierro commented on #1645
Are you available to help with some testing? Which version of DAL are you using? I am not convinced this is a bug in the scheduler. Looks like dal adapter is not escaping strings properly.

[2017-06-20 17:02] #1638 closed

[2017-06-20 17:19] mdipierro commented on #1633
@gi0baro This seems like a serious issue. Looks like the adapters have a method  _configure_on_first_reconnect
but this method may not be called when it should be. Any idea why?

[2017-06-20 17:20] mdipierro commented on #1627
I am closing this since this kind of discussions belong to the baling list.

[2017-06-20 17:20] #1627 closed

[2017-06-20 17:26] #1621 closed

[2017-06-20 17:26] mdipierro commented on #1614
soon!

[2017-06-20 17:26] #1614 closed

[2017-06-20 19:11] mdipierro commented on #1613
Can you help test the code in trunk:
[code]
and
[code]

[2017-06-20 19:13] mdipierro commented on #1611
I do not think there is a bug here.

[2017-06-20 19:13] #1611 closed

[2017-06-20 19:14] #1600 closed

[2017-06-20 19:16] mdipierro commented on #1597
This is not a bug it is by design. It is up to you to check whether you received a string or a list before computing len(). Anyway, thanks for checking with us. :-)

[2017-06-20 19:16] #1597 closed

[2017-06-20 19:17] #1595 closed

[2017-06-20 19:18] mdipierro commented on #1588
Can this be closed?

[2017-06-20 19:19] mdipierro commented on #1587
@gerencia can you help us test whether this ifixed?

[2017-06-20 19:21] mdipierro commented on #1585
@brianmay first of all thanks for reporting these issues? I apologize for not following closely. Do you think there is any major vulnerability still open that needs to addressed?

[2017-06-20 19:22] mdipierro commented on #1584
This should be the case. Will check with the latest build and see if I can reproduce.

[2017-06-20 19:24] #1583 closed

[2017-06-20 19:30] #1579 closed

[2017-06-20 19:32] abastardi commented on #1588
I added an issue to the book repo, so I think we can close this one.

[2017-06-20 19:33] mdipierro commented on #1576
I disagree that this a web2py issue vs a pydal issue. The error is clearly in pydal. But we need a way to reproduce...

[2017-06-20 19:35] mdipierro commented on #1573
@jparga did the error show up after you upgraded web2py or pydal? Or was due to a datastore change?

[2017-06-20 19:36] #1572 closed

[2017-06-20 19:39] mdipierro commented on #1557
@josedesoto sorry for the late response. please make a PR.

[2017-06-20 19:41] jparga commented on #1573
Yes, after I upgrade web2py  to 2.14.6

It happened in several applications with no datastore changes.

El 20/6/2017 21:35, "mdipierro" <notifications@github.com> escribió:

@jparga <https://github.com/jparga> did the error show up after you
upgraded web2py or pydal? Or was due to a datastore change?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Git

[2017-06-20 19:48] #1547 closed

[2017-06-20 19:51] mdipierro commented on #1537
You can do

[code]

or

[code]

[2017-06-20 19:51] #1537 closed

[2017-06-20 19:54] mdipierro commented on #1534
closing until we can reproduce

[2017-06-20 19:54] #1534 closed

[2017-06-20 19:55] mdipierro commented on #1528
problem is web2py does not know that a new application is created. It could be created form the shell.

[2017-06-20 19:56] mdipierro commented on #1528
On second thought.... this is a bug. I will fix it.

[2017-06-20 19:57] mdipierro commented on #1526
can this be closed?

[2017-06-20 19:57] mdipierro commented on #1517
I do not want to encourage this. Not at this time.

[2017-06-20 19:57] #1517 closed

[2017-06-20 20:00] #1513 closed

[2017-06-20 20:01] #1511 closed

[2017-06-20 20:03] mdipierro commented on #1510
This needs to be fixed in the doc. we change the behavior to make it faster.

[2017-06-20 20:03] #1510 closed

[2017-06-20 20:03] mdipierro commented on #1479
this was done. Thanks!

[2017-06-20 20:03] #1479 closed

[2017-06-20 20:05] #1514 closed

[2017-06-20 20:05] #1542 closed

[2017-06-20 20:05] #1588 closed

[2017-06-20 20:06] mdipierro commented on #1573
OK. will work on this asap.

[2017-06-20 20:07] #1472 closed

[2017-06-20 20:07] #1457 closed

[2017-06-20 20:08] mdipierro commented on #1451
@niphlod @ilvalle can this be closed?

[2017-06-20 20:18] Marlysson commented on #1537
Ohh , I was reading the documentation and read the description of ```-S```:

Just the command isn't more explicit in the sense of "create a new app" in start of development .. and no access a ```--shell``` firstly ..

Question of the semantics of the development process

[2017-06-20 20:19] mdipierro commented on #878
Need to check whether this is apache only. In that case we do not care. Who uses apache any more? Else this much be fixed.

[2017-06-20 20:23] mdipierro commented on #1537
You are right. want to try make a PR else I can do this but not a priority for 1.15.1

[2017-06-20 20:28] Marlysson commented on #1537
Sure .. I can ..

I will analyse the code to do this.. And doing it , would remove the behavior of the create a new app if run -S to nonexistent app .. raising an exception maybe..

[2017-06-20 20:49] mdipierro commented on #1537
Do not change the behavior for -S. Just add a new option to create.

[2017-06-20 21:43] mdipierro commented on #689
this was never done. or was it?

[2017-06-20 22:12] leonelcamara commented on #1526
@mdipierro sort of, we still have the catchall exception in confirm_registration which would probably be a good idea to refactor.

[2017-06-20 22:23] leonelcamara commented on #878
@mdipierro pretty sure this was a bug with mod_wsgi and mod_reqtimeout at the time of this issue.

See:
https://github.com/GrahamDumpleton/mod_wsgi/issues/58

Much like in the example given on that issue, the request on this web2py issue is also badly formed since the content-length is bigger than the body of the message so the server waits for the rest until it timesout.

[2017-06-21 05:58] mdipierro commented on #878
Good closing

[2017-06-21 05:58] #878 closed

[2017-06-21 07:07] brianmay commented on #1585
I have no idea if web2py is still vulnerable or not. At the time I was trying to get a list of commits that fix the security issues, so I could try to back port to Debian wheezy security updates.

Apparently 1b42fe6 fixes a security issue, although this commit also contains a lot of unnecessary white space changes too. So hard to evaluate right now for back porting.

For future reference, would be

[2017-06-21 07:09] brianmay commented on #1316
In https://github.com/web2py/web2py/issues/1585#issuecomment-292281800 I was told this is for CVE-2016-4806.

[2017-06-21 07:25] gerencia commented on #1587
Tested, works good now.

[2017-06-21 08:45] kkantor commented on #1613
Sorry I am confused for several reasons:

1. In my version of wev2py the adapter file is still called google_adapters.py, which, at some point became google.py and now I am unsure what to replace from where.

2. In the DAL() constructor above, I do not see where the connection string should be specified, I think that is necessary (projectname:region:instance)

[2017-06-21 09:11] gi0baro commented on #1633
@mdipierro seems like the select operation is performed before the first connection to the dbms.

[2017-06-21 09:15] mdipierro commented on #1587
Thanks!

[2017-06-21 09:15] #1587 closed

[2017-06-21 09:16] mdipierro commented on #1613
OK. I will make a new web2py version for you to test. At this time the only way to test is to download the latest web2py and pydal from bit.

[2017-06-21 09:17] mdipierro commented on #1633
@gi0baro Do you think this is an error in the user's code or in mydal?

[2017-06-21 09:36] gi0baro commented on #1633
@mdipierro I can't exclude with 100% confidence an error in pyDAL, but the mixin responsible of calling `_configure_on_first_reconnect` is used in postgres adapter too, so I would expect the same error on that. And right now I have a running deployment with like 2k reqs/min with the latest version and never had such problem :/
maybe we should try to understand how @remcoboerma got to perform a sel

[2017-06-21 11:09] leonelcamara commented on #1585
@brianmay the relevant part of that commit is here:
https://github.com/web2py/web2py/commit/1b42fe65472930668435007cfcb077207051ba34#diff-9b613db67036bfc740fac6e1851ec011R412

That line and the ones following validates the files the user requested to be packed.

[2017-06-21 12:13] mdipierro commented on #1585
OK. Unless objections I am going to close this.

[2017-06-21 15:07] BuhtigithuB commented on #1353
[ ] fix docstring for python 3 (ex.: print something -> print(something))

[2017-06-21 19:29] BuhtigithuB opened #1664 "remain py2.6 stuff that can be delete"
Here :
https://github.com/web2py/web2py/blob/0d646fa5e7c731cb5c392adf6a885351e77e4903/gluon/import_all.py#L86

py26_deprecated is used before been declared...

Since we drop py2.6 : https://groups.google.com/d/msg/web2py-developers/xz5o_CF4GOo/ZJm0HImTAAAJ

Shall we delete those line??

I send a PR if you take it...

[2017-06-21 19:33] leonelcamara commented on #1664
Yes please delete those lines, they won't even work because py26_deprecated doesn't exist.

[2017-06-21 19:37] BuhtigithuB commented on #1664
Done!

[2017-06-21 19:37] BuhtigithuB commented on #1664
I adjusted comment a bit too...

[2017-06-21 20:33] abastardi commented on #1556
OK, I submitted a PR: https://github.com/web2py/web2py/pull/1666

[2017-06-22 18:10] ilvalle commented on #1451
@mdipierro you can close this issue.

[2017-06-22 21:52] #1451 closed

[2017-06-22 22:54] leonelcamara commented on #1559
It wouldn't be hard in the case of the grid since it already supports groupby, so it would be easy to add having. I'm pretty sure you could do it yourself.

How would you use "having" with IS_IN_DB?

[2017-06-23 14:12] ilvalle commented on #1353
@michele-comitini do you have any update or suggestion regarding x509 login in order to avoid m2crypto?

[2017-06-23 15:16] leonelcamara commented on #1353
@ilvale maybe we could replace m2crypto with [cryptography](https://github.com/pyca/cryptography) which supports python 2 and 3.

[2017-06-23 18:24] ilvalle commented on #1467
After https://github.com/web2py/web2py/commit/b19c3419ec9313ce9cac62849e7d6f247ec40f65 a compiled view is neither cached nor executed. In
https://github.com/web2py/web2py/blob/master/gluon/compileapp.py#L698 the compiled files is actually read, but in https://github.com/web2py/web2py/blob/master/gluon/compileapp.py#L710 it is the 'non compiled' that is read and executed.

[2017-06-27 21:34] mdipierro commented on #1573
Cannot reproduce with latest trunk code. Please reopen with more details if persists.

[2017-06-27 21:34] #1573 closed

[2017-06-27 21:37] mdipierro commented on #1564
This can be done:
[code]

[2017-06-27 21:37] #1564 closed

[2017-06-27 21:44] #1528 closed

[2017-06-27 21:49] mdipierro commented on #1535
This was fixed. Make sure you have latest last and a compatible (recent) appadmin.py

[2017-06-27 21:49] #1535 closed

[2017-06-28 18:29] carloshanson commented on #889
This issue showed up for me after upgrading from Ubuntu 14.04 LTS to 16.04 LTS. The actual exception was swallowed in gluon/__init__.py. The actual exception was the following the following:

`ImportError: No module named datetime`

This was a virtualenv issue not a missing pydal. Take a look at the [Stack Overflow](https://stackoverflow.com/questions/26031160/importerror-no-module-named-datetime)

[2017-06-29 18:58] kkantor commented on #1613
I am still uncertain how to proceed with test because my question #2 above is still open:

In the DAL() constructor above, I do not see where the connection string should be specified, I think that is necessary (projectname:region:instance)

[2017-06-29 19:55] leonelcamara commented on #1613
@kkantor use the code provided by @mdipierro above, usually it goes into models/db.py.

[2017-06-29 20:11] kkantor commented on #1613
OK I will try to explain my issue again. In the current web2py doc and stable release, this is the DAL connection string:

Google/SQL	google:sql://project:instance/database

This works with 1st generation Google SQL.

Second gen Google SQL, in addition to the above information, also needs user name + password. That has been added in the example above, but the project:instance part is not there any

[2017-06-29 20:17] mdipierro commented on #1613
Thanks for your help with this. If I send you some code, can you help me test it? Please email me personally. I want to get this done by tomorrow.

[2017-06-29 20:21] kkantor commented on #1613
Tomorrow (Friday) morning (Europe) I can spend approx 2 hours with this, whatever I can achieve in that timeframe I will. But please read my last comment on the issue as I still think something is missing there.

On 2017Jun29, at 22:17, mdipierro <notifications@github.com> wrote:

Thanks for your help with this. If I send you some code, can you help me test it? Please email me personally. I want t

[2017-06-29 20:32] kkantor commented on #1613
Also, I am not sure how exactly to email you personally… :-(

On 2017Jun29, at 22:17, mdipierro <notifications@github.com> wrote:

Thanks for your help with this. If I send you some code, can you help me test it? Please email me personally. I want to get this done by tomorrow.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub <https://github.com/

[2017-06-29 20:35] mdipierro commented on #1613
Mind I created two new adapters:
   https://github.com/web2py/pydal/blob/master/pydal/adapters/google.py#L98
   https://github.com/web2py/pydal/blob/master/pydal/adapters/google.py#L122
And I would like to test those, google:sql will remain legacy and will not support username and password. Problem is the new adapters do not take projectname:region:instance but assume a localhost proxy. I will cha

[2017-06-29 20:40] kkantor commented on #1613
OK, one more question:

As I am using the latest stable version as downloaded from web2py.com, I still have a file named google_adapters.py., NOT google.py. This is what I hacked to make it work on 2nd generation.

So what exactly is it i do to test your google.py ?

On 2017Jun29, at 22:35, mdipierro <notifications@github.com> wrote:

Mind I created two new adapters:
https://github.com/web2py/pyda

[2017-06-29 20:41] mdipierro commented on #1613
Email me to massimo.dipierro@gmail.com so we can coordinate better and perhaps use google hangout.

[2017-06-29 20:43] mdipierro commented on #1613
[code]

[2017-06-30 18:00] rif opened #1670 "Reverencing wiki content with https"
The generated links for wiki content/media (e.g. image links) should use the same protocol as the host page because we get a possible security issue warning.

For example https://rjas.ro/ for the pages that contain wiki pages with embedded images, chrome issues the following warning:
`Your connection to this site is not fully secure.

Attackers might be able to see the images you are looking at on

[2017-07-03 18:02] mweissen opened #1671 "markmin blockquotes are rendered wrong and other problems"
About:
https://github.com/web2py/web2py/blob/master/gluon/contrib/markmin/markmin2html.py

# 1. Blockquotes
The description of markmin2html promises, that there could be a table or any other markmin code inside. This does not work, nothing inside a blockquote is changed.

Why?

Line 1209ff reads:
[code]

The text is only joined, without any markmin interpretation.
I think, it should be the followi

[2017-07-05 10:50] rpedroso opened #1672 "SQLFORM.factory - Field is already bound to a table"
**web2py 2.15.0b1**

SQLFORM.factory problem

Put in a controller:

    def index():

        db = DAL('sqlite:memory')

        db.define_table('table1',
                Field('f1'),
                )

        form = SQLFORM.factory(db.table1.f1)
        return form

This gives an exception:

    (...)

    File "web2py-2.15.0b1/gluon/packages/dal/pydal/objects.py", line 1633, in bind
        'Fi

[2017-07-06 22:50] sugizo opened #1673 "can't use response.optimize_js in models/db.py, previous version can work"
in models/db.py
response.optimize_js = 'concat,minify,inline'

Traceback (most recent call last):
  File "/Users/MacBookPro/site/web2py/gluon/restricted.py", line 219, in restricted
    exec(ccode, environment)
  File "<string>", line 36, in <module>
  File "/Users/MacBookPro/site/web2py/gluon/globals.py", line 501, in include_files
    time_expire)
  File "/Users/MacBookPro/site/web2py/gluon/cach

[2017-07-06 22:51] sugizo opened #1674 "graph model didn't show the erd like in previous version"
go to http://127.0.0.1:8000/welcome/appadmin/d3_graph_model
graph model didn't show the erd like in previous version :
- relation between table not shown
- table fields shown is stacked with another table name

[2017-07-06 22:53] sugizo opened #1675 "admin page, manage button (dropdown) not work (no errors occured)"
tested in osx with chrome and firefox
other user tested in :
- windows 7 /Chrome/Firefox/Internet Explorer
- older fedora with firefox

[2017-07-06 23:06] sugizo opened #1676 "appadmin errors page didn't show detail information"
appadmin errors page didn't show like inspect attributes, code, arguments, variables, locals, request, response, session like in previous version (2.14.6)

[2017-07-07 07:56] willimoa commented on #1674
Hi Sugizo,
There will be differences as the layout approach is different.   Can you specify which tables/fields are causing issues, or add a screen shot please.
Thanks
Andrew W

[2017-07-07 08:09] willimoa commented on #1674
HI, I've run welcome and I can see the issue.  Checking it out now.

[2017-07-07 08:49] willimoa commented on #1674
Fixed.  css file path was incorrect.   Pull Request raised.

[2017-07-07 12:08] dz0 commented on #1553
What should I keep in mind if I'd like to try implement this?

[2017-07-09 14:37] leonelcamara commented on #1635
@huangyuku Can you check if this fixes your issues? I don't really use heroky.

https://github.com/leonelcamara/web2py/blob/fixheroku/gluon/contrib/heroku.py

[2017-07-09 22:01] DonaldMcC opened #1680 "Python 3 compatibility need to retain integer division in sqlhtml.py"
There are two lines currently 408 and 474 in gluon/sqlhtml.py which I believe need to be changed from

        rows = totals / cols
to
        rows = totals // cols
This is only for python 3 to avoid iterating over a float a few lines further down the file - but possibly a more general search for / operators should also be carried out in case there are other similar instances in other files.

[2017-07-10 14:30] BuhtigithuB commented on #1680
% ag ' / '
scripts/access.wsgi
12:#   WSGIScriptAlias / /home/www-data/web2py/wsgihandler.py

scripts/zip_static_files.py
39:    print 'saved %s KB' % (int(tsave) / 1000.0)

scripts/sessions2trash.py
194:            10 ** 6) / 10 ** 6

scripts/cpdb.py
110:             text) / width)))])

scripts/nginx_scgi.conf
88:                location / {

scripts/setup-web2py-nginx-uwsgi-centos7.sh
163:

[2017-07-10 15:02] metaperl opened #1681 "table wizard throws misleading, inaccurate error that should be caught at validation stage"
I downloaded web2py from git and am using Apache 2.4 with
MySQL. When using the wizard to create an application, I get the error
'invalid table names (auth_* tables already defined)' but in checking
the database that I defined, there are no such tables in the
database... none at all in fact.

I saved the entire ticket as a complete webpage available here:
http://tmp.metaperl.org/ticket%20admin_45.

[2017-07-10 19:14] #1664 closed

[2017-07-10 19:18] #1675 closed

[2017-07-10 19:25] leonelcamara commented on #1674
@mdipierro this can be closed now that #1677 was merged

[2017-07-10 19:25] mdipierro commented on #1674
Thank you Leonel.

[2017-07-10 19:25] #1674 closed

[2017-07-11 11:10] dz0 commented on #1559
IS_IN_DB also supports groupby,
I woud use it to filter aggregated fields (sum/etc...)

ps.:  grid would be more problematic here, as it doesn't support display of aggregated fields (or any nonfield expression) (except via virtual),

[2017-07-11 11:19] rpedroso commented on #1672
It's seems to be this pydal commit:
https://github.com/web2py/pydal/commit/fedd0c75ff1f84ce863a8785b31c762d9c3e55af#diff-68220c912f02a03fd8bce58415479334R1642

[2017-07-12 15:08] manuelvio opened #1683 "Field is already bound to a table when defining tables"
I'm trying to port my application to web2py 2.15.1 and when I try to run it the error "Field filiale.organization_id is already bound to a table" is raised in a model file.
The significant section is:

[code]
The traceback:
[code]

Function argument list
[code]

Variables
[code]

The weird thing is that the error refers to the **second** table (coda_assistenza), where there shouldn't be any refere

[2017-07-12 15:17] tbellembois commented on #1672
I have the same issue.
Removing the lines also solved it.

[2017-07-14 09:42] liuyibing45 opened #1684 "a bug when installing plugin :"unable to install plugin***" with python 3.6 and web2py 2.15.1"
I want to install a plugin with the admin with python 3.6 and web2py 2.15.1. However when I press the upload button, a session.flash "unable to install plugin ***" occurs. After a hard debugging I find a solution.
I modify the fix_newlines() function in /gloun/fileutils.py
[code]
the above code fix the bug.

[2017-07-14 17:19] bjones1 opened #1685 "PEP8 fixes break functionality"
**The problem**: in https://github.com/web2py/web2py/commit/590de9c8900ac1d5da58758730ad9c805c7e8429#diff-1e4f774e944ce88607f6bc3debe6f0b7R2770, PEP8 fixes transformed `if self.crypt.salt == True:` to `if self.crypt.salt:`. However, per the [docs for the function](https://github.com/web2py/web2py/blame/master/gluon/validators.py#L2750), "If a salt is specified use it, if salt is True, set salt to

[2017-07-14 17:39] leonelcamara commented on #1685
@BuhtigithuB please no more automated PEP8 fixes

[2017-07-14 18:57] leonelcamara commented on #1683
@gi0baro this is a problem in pyDAL correct?

[2017-07-14 19:28] leonelcamara commented on #1684
This needs more investigation because if I test fix_newlines by itself it doesn't break under py 3.6

[2017-07-14 20:02] leonelcamara commented on #1673
Can you provide a simple example we can use to replicate this?

[2017-07-14 20:03] leonelcamara commented on #1635
@huangyuku ping! Can you test:
https://github.com/web2py/web2py/pull/1682

For me, please.

[2017-07-14 20:09] rpedroso commented on #1683
Probably same issue as #1672

[2017-07-15 07:01] liuyibing45 commented on #1684
@leonelcamara ,under python3.6 the original code `wdata = regex.sub('\n', rdata)` will raise an error. Because rdata is byte, '\n' is str.

[2017-07-15 07:39] ilvalle commented on #1684
@liuyibing45 according to https://codecov.io/gh/web2py/web2py/src/master/gluon/fileutils.py#L413 `fix_newlines` is not under any unittest. I'd suggest to publish a PR with the proposed changes with a specific unittest. Mind that you can use `to_bytes` and similar functions already defined in `gluon/_compat` without delving into the verbose `.decode` or `.encode` methods.

[2017-07-15 08:37] leonelcamara commented on #1684
@liuyibing45 ok then to me the bug is that we're reading the file in binary mode when we should be reading it in text mode.

[2017-07-15 11:36] liuyibing45 commented on #1684
@leonelcamara ,thanks, changing reading mode from binary to text will fix the bug.
@ilvalle

[2017-07-15 16:44] liuyibing45 opened #1687 "a bug of translation breaks the menu hyperlink of a new simple application."
Python 3.6, web2py 2.15.1, chrome.
For testing the new version of web2py 2.15.1, I create a new simple application through the administrative interface. I find a very strange bug. When the application name length is shorter than 4 (for example 'soma') and  the T.accepted_language is zh-cn,the index.html of the application looks like the following
![20170716001839](https://user-images.githubusercon

[2017-07-15 18:46] misl6 opened #1688 "ImportError: No module named fileutils w/ routes.py"
Hi,
All was working fine on my previous w2p install, then I just migrated all the environment to another server w/ ubuntu 16.04, nginx/1.10.3 and uwsgi 2.0.15.

(Tested on web2py 2.15.1)

If routes.py is available in the web2py folder I'm having this error:
`added /home/www-data/web2py/ to pythonpath.
mounting wsgihandler:application on /
Traceback (most recent call last):
  File "/home/www-data/w

[2017-07-16 11:46] leonelcamara commented on #1688
Can't really reproduce this. If you are importing fileutils in your routes.py make sure you import it from gluon. e.g: from gluon import fileutils

[2017-07-16 12:15] leonelcamara commented on #1687
This is really weird.

What's happening is that the

    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>

In layout.html is being rendered like this:

    <script src="/soma/static/js/web2py-bootstrap3.js"></scrip</script>

Note the "</scrip", because of that web2py-bootstrap3.js is not running so your menu doesn't work properly.

I have no idea why this happens at this time.

[2017-07-16 12:19] leonelcamara commented on #1687
This is really weird.

What's happening is that the

    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>

In layout.html is being rendered like this:

    <script src="/soma/static/js/web2py-bootstrap3.js"></scrip

Note the "</scrip", because of that web2py-bootstrap3.js is not running so your menu doesn't work properly. In fact the HTML you get in the browser ends right there

[2017-07-16 15:19] leonelcamara commented on #1556
@mdipierro this can be closed since #1666 was merged

[2017-07-16 15:26] mdipierro commented on #1556
thanks

[2017-07-16 15:26] #1556 closed

[2017-07-16 16:06] liuyibing45 commented on #1687
@leonelcamara , thank you very much. Your work really fix the weird bug.

[2017-07-16 17:13] leonelcamara commented on #1684
@liuyibing45 no need to close issues like this, it will be closed automatically if my fix is merged. It's better to leave it open in case my fixes do not get merged.

[2017-07-16 22:08] misl6 commented on #1688
Tested the same environment (Ubuntu 16.04 , nginx 1.10.3, uwsgi 2.0.15) with a hard copy of my old web2py installation (2.12.x) and all is working fine.

I will investigate tomorrow about the 2.15.1 (related) issue

[2017-07-16 23:10] liuyibing45 commented on #1684
@leonelcamara ,ok,thank you.

[2017-07-17 08:47] #1683 closed

[2017-07-18 08:43] #1635 closed

[2017-07-18 08:44] #1571 closed

[2017-07-18 08:44] #1680 closed

[2017-07-18 08:44] #1684 closed

[2017-07-18 08:44] #1685 closed

[2017-07-18 08:44] #1687 closed

[2017-07-18 08:44] #1672 closed

[2017-07-18 12:50] sherdim commented on #1688
The same error (uWSGI 2.0.15, web2py 2.15.1)
after update from  2.14.6

the error was in old web2py\applications\welcome\routes.example.py
remedy:
change to new one with
`import gluon.fileutils`

or remove routes.py from your app folder

[2017-07-19 03:06] bjones1 commented on #1685
Thanks for the quick fix!

[2017-07-21 08:36] josedesoto opened #1689 "Issue when del_membership"
Function del_membership in authapi.py:

If membership is updated by admin for example, to another user. Self admin user membeship is updated too.

The line:
[code]

Should be change to

[code]

Doing a pull request...

[2017-07-21 08:50] josedesoto commented on #1689
PR done: https://github.com/web2py/web2py/pull/1690

[2017-07-21 09:01] timnyborg opened #1691 "Passing tables to SQLFORM.factory() fails"
Example:
`form = SQLFORM.factory(idb.catering, idb.catering_diet)`

File "/home/www-data/internal-apps/gluon/sqlhtml.py", line 1922, in factory
    return SQLFORM(DAL(None).define_table(table_name, *[field.clone() for field in fields]),
AttributeError: 'Table' object has no attribute 'clone'

Since .clone() was added to the list comprehension, it tries to clone tables as well, rather than passing

[2017-07-22 13:38] ilvalle commented on #1673
Tested with latest 2.15.2 and it worked. @sugizo would you test it again?

[2017-07-22 21:27] lben opened #1693 "response.js does not execute in the oncreate SQLFORM.grid callback"
Hello, I have a component which has an SQLFORM.grid and an oncreate and ondelete callbacks on which I execute a response.js. When I delete a record the response.js javascript function is executed but when I create a record the response.js javascript function does not get executed (but the python's oncreate function gets executed)

This is my controller code:

[code]

Is this a bug or am I doing so

[2017-07-24 01:41] jpsteil opened #1694 "Adapter not found for imap"
Here is my traceback

Traceback (most recent call last):
 File "C:\dev\web2py\gluon\restricted.py", line 219, in restricted
 exec(ccode, environment)
 File "C:/dev/web2py/applications/wrighthub/models/db.py", line 38, in <module>
 imapdb = DAL('imap://catchall:2007j0j7&@23.253.201.164:993')
 File "C:\dev\web2py\gluon\packages\dal\pydal\base.py", line 170, in __call__
 obj = super(MetaDAL, cls).__c

[2017-07-24 16:15] BuhtigithuB commented on #1680
Silver search of ' / '

Sorry if it confused you...

[2017-07-25 00:36] dartg opened #1695 "Custom fieldstyle function silently failing"
In order to guarantee backwards compatibility, the `SQLFORM.createform` function is wrapping the `formstyle()` call (which might be user-defined) waiting for a `TypeError` exception:

[code]

That means that if anything inside the function raises `TypeError` you'll get a confusing traceback. For example, if I have:

[code]

And `request.args(0) is None`, then a ticket will be generated with:

Whil

[2017-07-25 20:51] hirolau opened #1696 "websocket_messaging in Python 3"
I ran into 3 problems when trying to get WebSockets working on Py3:

1.  `import gluon.utils` failed.
2. Strings were sometimes bytecode, causing mismatches of groups.
3. function `to_native` was unavailable.

For 1) All I had to was to copy the file to web2py root and run from there. Maybe a documentation change would be sufficient?

For 2) I changed line 144 and 145 in the PostHandler post funct

[2017-07-26 09:59] manuelvio opened #1697 "psycopg2.ProgrammingError : column does not exist"
When I try to run my application in web2py 2.15.2 I encounter this issue:

[code]

The traceback is:

[code]

My model is:

[code]
The code portion which raises that error is:

[code]

I printed out what the SELECT statement would look like and this is the result:

[code]

This is the same select(), but in web2py 2.14.6:

[code]

Please note the new presence of the quotation marks that force postg

[2017-07-26 13:30] BuhtigithuB commented on #1697
Maybe your database is not in sync with web2py models?? Please come over
google groups of web2py-users for such type of question...

If you have made change of database, your models may have not been created
in this new database, because web2py think he already created them... In
this case you need to migrate_fake=True and migrate=False for one turn,
then migrate=True and fake_migrate=False... Or

[2017-07-26 13:44] leonelcamara commented on #1697
I think it's a bad idea to use case insentitivity. Still, you can disable the quotes by setting entity_quoting=False. In your DAL declaration.

[2017-07-26 15:26] manuelvio commented on #1697
@BuhtigithuB : I have not made any change to the db. I simply updated web2py and run my application.
@leonelcamara: I didn't mean to use case insensitivity, and I agree that could be a bad idea, but it was defined this way the first time and web2py simply behave correctly until now.
I guess the DAL signature changed its default parameter in the last release? I see now in the group that there was a

[2017-07-26 16:21] BuhtigithuB commented on #1697
You update from which version... As Leonel mention, you may not use case
sensitive field, and there is reserved word too, that been added in web2py
at some point, so it may related to this too...

On Wed, Jul 26, 2017 at 11:26 AM, Manuel Unno Vio <notifications@github.com>
wrote:

[2017-07-26 16:45] leonelcamara commented on #1697
@manuelvio you have a point there. One could say this was a bug in pyDAL and the fix is creating these problems. I would leave entity_quoting as is and simply change the name in the application code to not use camelcase which is not very pythonic anyway.

[2017-07-26 17:59] manuelvio commented on #1697
@BuhtigithuB I clearly stated that the last known web2py version which worked with my application was 2.14.6. And the field name wasn't even close to a reserved word.
We're talking about quotes being added automatically in queries, as I said from the beginning.
@leonelcamara whether the lack of quotation was a bug or not I think that changing a default value in a constructor was a change worth not

[2017-07-26 18:33] #1697 closed

[2017-07-27 04:18] domezzzzx opened #1699 "Error with autocomplete in version 2.15.2"
Versión: web2py.exe para windows 2.15.2-stable+timestamp.2017.07.19.12.18.41
Update all js in the target application with 2.15.2 of welcome
Tested in browsers: Firefox and Chrome.

When entering data in the autocomplete field, the candidate values are not displayed.
When you enter, it indicates an invalid value.
And an image in transparent format appears and disappears from the first part of the d

[2017-07-27 09:24] jkotyz opened #1700 "AuthJWT token does not expire in expiration time"
When token is generated by code below, I would expect that token expires in 2s but it still authorize after. Refreshing token after 2s is refused as expected.
[code]
[code]
[code]
There is inconsistency in using UTC and local time (my local time is UTC+2).

[2017-07-27 10:44] leonelcamara commented on #1699
I changed autocomplete due to a security issue with the previous version. In my tests it worked fine using appadmin which does use the grid. Can you give me a sample application?

[2017-07-27 12:36] roshmee commented on #1683
i installed pydal but getting this  error"pyDal' is not recognized as an internal or external command,
operable program or batch file." i donno how to add the pAth for enviroment varaibles.any plzz help

[2017-07-27 14:39] leonelcamara commented on #1695
Can we drop the backwards compatibility here? We could inspect the formstyle function for the arguments count, but then we would have to check if they don't have default values, this could quickly get messy.

Otherwise we need to accept this issue as a side-effect of backwards compatibility and close it as "won't fix".

[2017-07-27 20:15] dartg commented on #1695
I agree. I would be also difficult to predict how many args a `functools.partial` object takes (the same applies for classes which implement `__call__`).

[2017-07-27 22:36] domezzzzx commented on #1699
Hi Leonel
Sorry for the delay.
I send imagen panel with problem, noting also, superimposed image.

![panel](https://user-images.githubusercontent.com/30487405/28694969-ccd9a8f2-7302-11e7-8555-74d24b89a4e1.jpg)

[objetos.zip](https://github.com/web2py/web2py/files/1181436/objetos.zip)

[2017-07-28 00:40] leonelcamara commented on #1699
@domezzzzx Thanks, looking at your sample code, I managed to reproduce the bug which happens when user_signature is True on the grid. I'm investigating.

[2017-07-28 11:52] domezzzzx commented on #1699
Ok Leonel.
With user_signature=True bypassed the problem....con la URL exposed.
Greetings, from Montevideo, Uruguay.

[2017-07-29 14:46] leonelcamara commented on #1696
Can you submit a pull request, making sure it works with py2 too of course?

[2017-07-29 15:04] domezzzzx opened #1703 "Error in ejecution of sessions2trash.py"
Version: 2.15.2-stable+timestamp.2017.07.19.12.18.41
             web2py.exe for windows

Start logging----------
               File "c:\web2py_sitio\gluon\shell.py", line 268, in run
                 execfile(startfile, _env)
               File "scripts/sessions2trash.py", line 90
                 print 'key: %s' % str(item)
                               ^
               SyntaxError: invalid s

[2017-07-29 15:54] hirolau commented on #1696
I will try. Trying to read up best practices on writing py2/py3 compatible code...

[2017-07-31 17:10] josedesoto commented on #1557
PR DONE:
https://github.com/web2py/web2py/pull/1705

[2017-08-01 08:11] Holmes70 opened #1706 "Can't open Graph model after upgrading to 2.15.2"
I just upgraded to 2.15.2 from 2.14.6 and after correcting my DAL-constructor to entity_quoting set to False, the PostgreSQL DB runs just fine...except for the graph model. I just get

when I call it. I can't seem to find any more enlightening log-entries for this. Sorry. Any ideas, what to do?

Regards,
Oliver Holmes

[2017-08-01 08:32] leonelcamara commented on #1706
How did you update? Was the admin application updated too?

[2017-08-01 10:18] Holmes70 commented on #1706
I unzipped the source over my installation. How must I go about to update appadmin?

[2017-08-01 12:15] Holmes70 commented on #1706
Aha! Got it. Now I overwrote my apps appadmin.py with the admins appadmin.py, and now it won't throw the error. Just got a blank screen now :D

[2017-08-01 14:45] #1691 closed

[2017-08-01 14:46] #1699 closed

[2017-08-01 17:57] BuhtigithuB commented on #1706
Close your issue then!!

:)

On Tue, Aug 1, 2017 at 8:15 AM, Holmes70 <notifications@github.com> wrote:

[2017-08-01 20:14] tB0nE opened #1707 "Strange framework error after updating to 2.15.2"
Since switching over my website to web2py 2.15.2, which involved upgrading my Python to 2.7, and installing the latest version of mod_wsgi (4.5.17), I have been getting the strange error below. The framework is a bit out of my knowledge, but it appears to be related to wsgi, and trying to remove something that is already not there. I would suggest first checking to see if it exists, but honestly I

[2017-08-01 22:54] leonelcamara commented on #1707
Can you clear your sessions and see if you still have the problem?

[2017-08-02 05:05] Holmes70 commented on #1706
Sorry, I don't believe a blank screen is what the model should look like ;)
Any thoughts or pointers?

[2017-08-02 06:44] tB0nE commented on #1707
After reading issue #1706, I decided to remove the gluon directory on my server and replace it with the latest, and it appears the errors are gone. Looks like the upgrade got a bit messed up. Problem solved!

[2017-08-02 06:44] #1707 closed

[2017-08-02 07:35] willimoa commented on #1706
I just downloaded 2.15.2 and then opened Welcome in the appadmin and I can see the auth tables in the graph model.  Does that work for you ?     I think the problem is that it is expecting "db".   Your database is probably not called "db".   db is referred to elsewhere, but after calling get_databases.   I'll have a look.

[2017-08-02 07:40] Holmes70 commented on #1706
Again, everything works fine except for the model thingy. I could very well do without as I only have 15 tables. But a bug is a bug and should be reported, until it turns out to be a case of BDU (brain dead user, namely me).

[2017-08-02 07:47] willimoa commented on #1706
I was asking if the graph model button works fine in the Welcome app?

[2017-08-02 07:50] Holmes70 commented on #1706
Opps, sorry. Yes it does. Quite the relief. My applications db name is db. Here is the relating code:
`    db = DAL(myconf.take('db.uri'),
             pool_size=myconf.take('db.pool_size', cast=int),
             check_reserved=['all'],
             migrate=True,
             fake_migrate=False,
	     entity_quoting=False)`

[2017-08-02 07:54] willimoa commented on #1706
Well that's interesting.  It should work then.   But there is an issue in that it expects "db" which is not always the case.
Can you show at least one table in your db ?

[2017-08-02 08:00] Holmes70 commented on #1706
Here's what the old model did with my tables (I manually cropped the "system tables"):
![datenmodell](https://user-images.githubusercontent.com/17042955/28863431-3248a840-7769-11e7-89cc-cea7f4e57d2d.png)

[2017-08-02 08:25] osdefsec opened #1708 "SQLFORM.grid paginate issue with mongodb DAL"
Hi Folks,

While randomly testing, I stumbled upon a bug with SQLFORM.grid with mongodb DAL.
**Bug**
SQLFORM.grid missing a row in display

**Steps to replicate:**
`
#db = DAL('sqlite://sqlitetest.db' )
#db = DAL('mongodb://********:*******@*****/*****')
db.define_table('testsqlformgrid',
                Field('name', 'string'),
                Field('rollno', 'integer'))
db.testsqlformgrid.trunca

[2017-08-02 08:31] leonelcamara commented on #1706
Have you updated views/appadmin.html with the one from the new welcome?

[2017-08-02 08:44] Holmes70 commented on #1706
Well, of course not. Which leads to me closing this ticket and apologizing profusely for wasting everyones time. As I stated before, cause is BDU.

[2017-08-02 08:44] #1706 closed

[2017-08-02 08:47] willimoa commented on #1706
I'll raise another one to fix the "db" error.  Not a (complete) waste of time :)

[2017-08-02 08:54] willimoa opened #1709 "appadmin d3_graph_model expects a database called "db""
Need to do something like this (in appadmin.py.
    for db in databases:

[2017-08-02 13:28] Jhleite opened #1711 "Error with Reading/Updating List:References in web2py 2.15.2 from/to database"
I have just updated to web2py 2.15.2 and my site www.holidaysenses.com became unstable (unusable).

Line codes like:
image = db(db.intro_lifestyles.tourism_segment_id == segment.id).select().first()
or
image = db(db.intro_regions.region_id == region.id).select().first()

where db.intro_lifestyles.tourism_segment_id and db.intro_regions.region_id are List:references with only one element each to ta

[2017-08-02 13:40] Jhleite opened #1712 "Can not run web2py 2.15.2 in windows with or without ssl"
I can't seem to run rocket server with ssl in windows (development environment - Aptana Studio).

ERR_SSL_PROTOCOL_ERROR
or
module object has no attribute ssl

Before, without SSL it was giving me a lot of ticket issues with the database initialization.

I'm compleately lost.

C:\web2py\web2py.py -i 192.168.8.100 -p 443 -c server.crt -k server.key -Y
or
C:\web2py\web2py.py -i 192.168.8.100 -p 8000

[2017-08-02 16:39] BuhtigithuB commented on #1712
Please come over google group web2py-user for help...

Richard

On Wed, Aug 2, 2017 at 9:40 AM, Jhleite <notifications@github.com> wrote:

[2017-08-02 16:40] BuhtigithuB commented on #1711
Please come over google group web2py-users for such kind of question and
help...

On Wed, Aug 2, 2017 at 9:28 AM, Jhleite <notifications@github.com> wrote:

[2017-08-02 17:27] Jhleite commented on #1711
I have placed this question in google group web2py-users as asked.
I'll wait for further developments... its really critical

[2017-08-03 10:46] leonelcamara commented on #1711
@Jhleite can you provide a minimal application with this problem?

Right now I'm suspecting that you changed a field which was a reference to a list:reference, I don't think that DAL migrations can deal with field type changes automatically.

[2017-08-03 12:08] josedesoto opened #1713 "SQLFORM.factory looks broken in 2.15.2"
Test one (before was working):
[code]

ERROR:

Test two (before was not wokring as well but I just test it in case):
[code]

ERROR:

The return line in factory has been changed from:

[code]

to

[code]

[2017-08-03 12:15] josedesoto commented on #1713
It looks there is PR in https://github.com/web2py/web2py/pull/1692

I close the issue.

[2017-08-03 12:15] #1713 closed

[2017-08-03 15:02] Jhleite commented on #1711
I Didn't do anything just updated the web2py version!!!

Here is the code:

MODELS SNAPSHOT:

db.define_table('tourism_segment',
    Field('segment', label=T('Lifestyle Segment')),
    format='%(segment)s')

db.tourism_segment.segment.requires = IS_NOT_IN_DB(db, db.tourism_segment.segment)

db.define_table('region',
    Field('name', label=T('Region Name')),
    format='%(name)s')

db.region.name.

[2017-08-03 15:10] Jhleite commented on #1711
Thanks for your help

[2017-08-03 16:57] leonelcamara commented on #1711
@Jhleite That's not a minimal application :) Anyway, the problem seems to be that you're using == some_id with a list reference. "==" is not supposed to be used with list:reference that way.
This:

    image = db(db.intro_lifestyles.tourism_segment_id == segment.id).select().first()
Should be:

    image = db(db.intro_lifestyles.tourism_segment_id.contains(segment.id)).select().first()

This:

[2017-08-03 17:08] Jhleite commented on #1711
Thanks for your help. It was working in the previous versions though.
The contains did the trick.
The multiple = False is correct because I just want an element in each list.
Maybe I misused the List:reference but if it works ok for now.

[2017-08-03 19:37] Jhleite commented on #1711
I have the same error now when updating a table from a form.
There is something that is not backwards compatible......

Here is a bit of the code:
-------------------------------- CONTROLLER CODE -----------------------------------------------
form = SQLFORM(db.service, this_service, deletable=True)

    if form.validate():
        # If selected for deletion
        if form.deleted:

            d

[2017-08-04 00:20] leonelcamara commented on #1711
@Jhleite you are using IS_IN_DB(db, 'region.id', '%(name)s', multiple=False) as the validator for region_id (which is also a list:reference), since multiple=False you are not getting a list when you submit the region, later when you try to insert the record you get problems as the list:reference field is expecting a list.

This is not a backwards incompatibility problem, this was the previous vers

[2017-08-04 00:34] #1703 closed

[2017-08-04 08:19] henriavelabarbe commented on #1353
Hi, I'm trying to setup web2py on python3 with nginx using uwsgi.
Uwsgi logs show that it process all 0 bytes answers from web2py.
From what I see, it's because python3 and web2py return unicode data.
Is there a fast workaround to make web2py and uwsgi works using python 3 ?

[2017-08-04 10:27] leonelcamara commented on #1353
@henriavelabarbe can you try something for me?

In gluon/http.py on the "from _compat" imports add to_bytes

then on class HTTP method "to" where you see:

    else:
        return [str(body)]

replace that with

    else:
        body = str(body)
        if isinstance(body, unicodeT):
            body = to_bytes(body)
        return [body]

Don't forget to restart uwsgi, try it, and let me know i

[2017-08-04 10:53] alhman opened #1715 "parameter of ajax put request is empty in Python 3"
I tested the latest version 2.15.2 and I've got a problem when accessing ajax post parameters with web2py under Python 3.

The client sends a PUT request using jquery like this:
`$.ajax('<url>', {
    data: JSON.stringify({
        outputFormat: 'pdf'
    }),
    type: "PUT", contentType: "application/json",
    success: function(data) {
        alert('success');
    },
    error: function(jqXHR,

[2017-08-04 11:40] Jhleite commented on #1711
So, what you are telling me is that List:reference will have to come always with multiple=True.
I did not understand that from the manual.
So if I want just a single record to be inserted I must restrict that in the selection widget.
Is that right?

[2017-08-04 13:04] leonelcamara commented on #1711
The thing is what you insert in list:reference should be a list. IS_IN_DB does not transform the input into a list unless you have multiple=True. What you can do is use IS_LIST_OF to turn it into a list anyway. So you would have something like requires = [IS_IN_DB(..., multiple=False), IS_LIST_OF()]

[2017-08-04 13:17] Jhleite commented on #1711
Thanks Leonel, we'll try that and see, how it works. Thumbs Up.

[2017-08-04 13:35] leonelcamara commented on #1711
No problem, glad to see more Portuguese entrepreneurs using web2py.

[2017-08-04 16:17] Jhleite opened #1716 "When upgrading to web2py 2.15.2 windows environment SSL support stoped working"
I have just upgraded to web2py 2.15.2 in windows and I use python 2.7.11 for a while now to have the latest SSL protocols and work with PayPal. I use the following command line:

C:\web2py\web2py.py -a admin -i 192.168.8.100 -p 443 -c server.crt -k server.key -Y

and now the following error appears (without changing Python configuration):

----------------------------------------------------------

[2017-08-04 21:34] bjquinn opened #1717 "python 3 upload getting uft8 invalid continuation byte error"
Environment: 2.15.2-stable+timestamp.2017.07.19.12.18.41 (Running on Rocket 1.2.6, Python 3.6.2)

used example from http://web2py.com/books/default/chapter/29/07/forms-and-validators#SQLFORM-and-uploads

[code]

[code]

Upload a simple text file, all is well.  Upload a binary file of any kind (PDF, MP4, etc.), and get an error like the following:

[code]

Edit: fixed code block formatting

[2017-08-05 11:37] leonelcamara opened #1718 "Can't download file with non ascii characters in the filename"
Steps to reproduce:
1 - upload file with non ascii characters in the name
2 - try to download it

File "C:\Users\Leonel\Desktop\web2py\gluon\main.py", line 564, in wsgibase
    return http_response.to(responder, env=env)

  File "C:\Users\Leonel\Desktop\web2py\gluon\http.py", line 120, in to
    rheaders.append((k, str(v)))

UnicodeEncodeError: 'ascii' codec can't encode character u'\xe2' in posit

[2017-08-05 12:41] leonelcamara commented on #1715
I can't reproduce this. For me it works perfectly fine. So either this was already fixed or you have a typo in your actual code for request.vars.outputFormat  (e.g. Maybe you have request.vars.outputForma)

Can you print(request.vars) in the controller function this ajax is calling and tell me what it shows?

[2017-08-05 12:47] leonelcamara commented on #1717
Can't reproduce this. This works fine for me.

I simply copy pasted your code into the welcome application and run with python 3.

[2017-08-05 13:00] Jhleite commented on #1716
If I import ssl directly in the main.py module I get the following error:

Traceback (most recent call last):
  File "C:\web2py\web2py.py", line 21, in <module>
    import gluon.widget
  File "C:\web2py\gluon\widget.py", line 26, in <module>
    from gluon import main, newcron
  File "C:\web2py\gluon\main.py", line 28, in <module>
    import ssl
  File "C:\Python27\lib\ssl.py", line 126, in <modul

[2017-08-05 13:08] leonelcamara commented on #1716
Seems like a windows python bug, are you running 2.7.13?

[2017-08-05 13:24] Jhleite commented on #1716
I have tried with 2.7.11 that was stable with the previous web2py version and then upgraded to 2.7.13 and it persisted.
But with ubuntu it is working fine with 2.7.11.

[2017-08-05 14:06] alhman commented on #1715
request.vars is an empty Storage object. There can't be a typo because I'm running the same code with Python 2.7 and Python 3.5. It works fine when using Python 2.7

[2017-08-05 14:37] Jhleite commented on #1716
Response from Python issue:

There is no _ssl.py. The internal _ssl module is a C extension module. Under Windows it is called _ssl.pyd. Do you have a _ssl.py  or _ssl package in your project that may confict with _ssl.pyd?

[2017-08-05 15:51] bjquinn commented on #1717
Thanks for trying to reproduce it..  I can't imagine why it would matter, but I tried copy/pasting the code into the welcome app instead of my test app, same result.  Tried mysql as the database, same result.  But it's possible I've messed something up in my web2py setup, and I was using pycharm as my IDE.  So I started from scratch and used only the built in web2py editor.  Here are my steps to r

[2017-08-05 21:32] leonelcamara commented on #1717
Is it possible this was already fixed in trunk, I was using the github version, can you try that?

[2017-08-06 02:19] bjquinn commented on #1717
I tried that based on your suggestion, but got the same error.  However, admin tool shows version 2.15.2-stable+timestamp.2017.07.19.01.21.31, which I find odd, since that's actually older than my 2.15.2 install.  I just did a git clone https://github.com/web2py/web2py.git followed by git submodule update --init --recursive.  This seems to be the right place to get the latest version, and I even c

[2017-08-06 10:57] leonelcamara commented on #1717
@bjquinn I managed to reproduce it. Apparently you need to be using the generic.html view for this to happen and I had created a display_form.html view. Thanks!!

[2017-08-06 17:13] wish7code opened #1721 "@Mobilize support missing in 2.15.2?"
After upgrading to 2.15.2 views using **mobilize** statement throw an exception.
Before (2.14.6) same views worked fine

I can reproduce this using a minimal example

from gluon.contrib.user_agent_parser import mobilize
@mobilize
def index():
   return dict()

throws an error
<type 'exceptions.ImportError'> cannot import name mobilize

Traceback (most recent call last):

File "/home/www-data/web2p

[2017-08-06 17:16] wish7code commented on #1721
Cross ref to mailing list, a least another user confirms same issue

https://groups.google.com/d/msg/web2py/ooZKk5i8zew/2TckkMq6CAAJ

[2017-08-06 17:27] wish7code commented on #1721
Found it: mobilize was removed here:

https://github.com/web2py/web2py/commit/d9c7953147bd78bd2e3ebf546b989538ae983c8e#diff-795b1930ce8fe2b530ad43ece7532341L557

but this breaks backward compatibility and is not yet reflected in the documentation (see http://web2py.com/books/default/chapter/29/05/the-views#Mobile-development)

[2017-08-06 22:08] leonelcamara commented on #1715
@alhman What I did was.
1 - Go to admin, create new basic application
2 - in its default.py I added this function
[code]
3 - to the bottom of default/index.html I added

[code]
4 - visit the new application default/index

I got an alert saying "success" and in the console was
[code]

Which was exactly what I expected.

[2017-08-07 12:08] #1718 closed

[2017-08-07 12:08] #1717 closed

[2017-08-07 12:19] mdipierro commented on #1716
fixed in #dc29f33

[2017-08-07 12:19] mdipierro commented on #1715
Can we close this?

[2017-08-07 12:20] mdipierro commented on #1712
Duplicate if https://github.com/web2py/web2py/issues/1716

[2017-08-07 12:20] #1712 closed

[2017-08-07 12:20] #1711 closed

[2017-08-07 12:21] #1709 closed

[2017-08-07 12:21] #1700 closed

[2017-08-07 12:25] leonelcamara commented on #1715
@mdipierro not sure, I really can't reproduce it. Maybe @alhman can provide an app where we see it happening.

[2017-08-07 12:27] #1696 closed

[2017-08-07 12:30] mdipierro commented on #1689
thanks!

[2017-08-07 12:30] #1689 closed

[2017-08-07 12:31] #1688 closed

[2017-08-07 13:01] alhman commented on #1715
I created a new minimalistic test application and the behavior is still the same. It works fine with Python 2 but not with Python 3.5. I even tested it with different browsers (Opera and FF) and jquery versions (3.1.1 and 3.2.1). If you can't reproduce it with this app then I'll test it on another machine (Linux instead of Windows).

[test.zip](https://github.com/web2py/web2py/files/1204843/test.z

[2017-08-07 13:32] leonelcamara commented on #1715
@alhman just tested that in microsoft windows python 3.6.1 and it printed the result just fine.

My only guess right now is that your web2py code is not right somehow, did you download the latest source version? Or did you update your web2py via admin? If the latter please download the web2py source version and try again.

[2017-08-07 13:52] alhman commented on #1715
I used the official version 2.15.2.  Now I tried it with last tagged version from github (R-2.16.0b1) and with master branch. Always the same result. I'll make another test tomorrow on different machine to see what happens there.

[2017-08-07 16:08] lkrn opened #1724 "XML sanitize=True throws error on check for acceptable url in py2"
Below code in view throws error
[code]

Error:
[code]

Environment info:
- platform: win32
- python: 2.7.9 (major=2, minor=7, micro=9, releaselevel='final', serial=0)
- web2py: 2.15.2-stable+timestamp.2017.07.19.12.18.41

Steps to reproduce:
1. Open web2py from console
2. Try execute: `XML('<img src="/myapp/static/images/pict.jpg" />', sanitize=True)`

Possible fix:
In gluon._compat.py change line

[2017-08-07 17:19] ilvalle commented on #1724
Don't change _compat, instead change urlparse in urlparse.urlparse in sanitizer.py, would you post a PR?

[2017-08-07 17:23] Jhleite opened #1725 "main.py in windows has a bug in "elif not rocket._ssl:""
main.py has a bug in line 748 (windows environment at least).

elif not rocket._ssl:

should be:

elif not rocket.has_ssl:

I don't know if it was already corrected since it is working fine under ubuntu Linux but I corrected it in my environment as Leonel Câmara sugested.

[2017-08-07 18:44] bjquinn commented on #1717
Just wanted to chime in and confirm that this did in fact fix the problem for me.  Binary files are now uploadable in python 3 under this set of circumstances without error.  Also tried redownloading the uploaded files, confirmed the files look good, no corruption.  Thanks for the quick help with this!

[2017-08-07 19:29] lkrn commented on #1724
hm, but for py3 (else block in _compat) actually a function is imported:
`from urllib import parse as urlparse`
Given this, won't urlparse.urlparse in sanitizer.py throw an error in case of py3?

[2017-08-08 04:29] #1721 closed

[2017-08-08 09:43] mrdumpty opened #1727 "Error in appadmin (database admin) on python 3"
When using python3 and database admin, I got this error:

<class 'NameError'> name 'unicode' is not defined

To reproduce, open db admin and click on any table, for example,
[http://127.0.0.1:8000/welcome/appadmin/select/db?query=db.auth_user.id%3E0](http://127.0.0.1:8000/welcome/appadmin/select/db?query=db.auth_user.id>0)

[2017-08-08 11:09] leonelcamara commented on #1673
@sugizo managed to replicate it visiting welcome/appadmin/d3_graph_model

Thanks for the bug report sugizo!

[2017-08-08 14:52] gonguinguen opened #1729 "Error when using @cache.action with cache_model=None and time_expire=None"
Recently, I've found that using @cache.action with time_expire=None would throw an error.

In my specific scenario, I use @cache.action with variable arguments, and in some situations I need to set all parameters to None, in order to tell @cache.action "hey, don't do anything, just do as if you weren't there".

Here I explained my case:
[https://groups.google.com/forum/#!topic/web2py/5SuaspDnjoQ](

[2017-08-08 19:21] BuhtigithuB commented on #1727
I can't reproduce as appadmin keep login me off... Which version of web2py??

On Tue, Aug 8, 2017 at 5:43 AM, mrdumpty <notifications@github.com> wrote:

[2017-08-08 19:46] mrdumpty commented on #1727
2.15.2, pyDAL 17.07

[2017-08-08 19:50] BuhtigithuB commented on #1727
Could you try with the last version if the issue is still there, I think
there is an issue related to encoding been fixed with 2.15.3

On Tue, Aug 8, 2017 at 3:46 PM, mrdumpty <notifications@github.com> wrote:

[2017-08-08 19:52] mrdumpty commented on #1727
I just upgraded, now it doesnt even start:

ImportError: cannot import name 'InDBMigrator'

[2017-08-08 19:56] mrdumpty commented on #1727
Installed from scratch, it started, but error still persists.

[2017-08-08 21:31] angeloc opened #1730 "save_password function error"
I do usually set the web2py password programmatically, this worked in older versions of web2py:

[code]

[2017-08-08 22:16] alhman commented on #1715
I tested it on a completely different machine (with Ubuntu, Python 3.5 and web2py 2.15.3) and I get exactly the same behavior. Works fine with Python 2.7 but not with 3.5

[2017-08-09 08:19] alhman commented on #1715
do you know where exactly in the code the parameters should be set? (file/method)
I could debug the code and see what's going on and why the parameters are not set with Py3

[2017-08-09 09:29] leonelcamara commented on #1715
@alhman yes, they're set in Request.parse_post_vars
https://github.com/web2py/web2py/blob/master/gluon/globals.py#L211

[2017-08-09 09:43] alhman commented on #1715
json_vars = json_parser.load(body)
raises an exception in Py3. the exception is thrown in loads function in python json module:
`
if not isinstance(s, str):
    raise TypeError('the JSON object must be str, not {!r}'.format(
                            s.__class__.__name__))
`

the parameter 's' is a byte sequence and not a string:
b'{"outputFormat":"pdf"}'

[2017-08-09 11:26] leonelcamara commented on #1730
@mdipierro ping

[2017-08-09 11:27] leonelcamara commented on #1715
@alhman I suspected as much, I just don't understand why it's not happening to me.

[2017-08-09 12:30] angeloc commented on #1730
It all depends on the fact that web2py was released with a mismatching
pyDAL reference.

Web2py R-2.15.3 uses a class (InDBMigrator) that it's not present in
pyDAL 17.7, the latest pyDAL stable release at the time of writing.

I think that web2py stable must have the pyDAL subrepo pointing to a
tagged release and not to the master tree.

2017-08-09 13:26 GMT+02:00 Leonel Câmara <notifications@gith

[2017-08-09 20:46] #1673 closed

[2017-08-09 21:24] leonelcamara commented on #1724
@lkrn if you pay close attention that's not a function :) that's the parse module in urllib.

[2017-08-10 04:58] lkrn commented on #1724
@leonelcamara thanks
@ilvalle PR submitted

[2017-08-10 05:53] ilvalle commented on #1724
Well done. If you can, add also an unittest with the example you posted here. Il 10 ago 2017 6:58 AM, Alex Burdin <notifications@github.com> ha scritto:@leonelcamara thanks
@ilvalle PR submitted

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-08-10 17:39] leonelcamara commented on #1715
@alhman since I can't reproduce it, can you try something for me? in gluon/globals.py in function copystream_progress, can you replace all `return dest` with `return to_native(dest)`

[2017-08-11 14:34] alhman commented on #1715
I tested on another machine (win10 & Python 3.6) and there it works. I found out that the difference is the Python version. It works with 3.6 but not with 3.5.

in 3.5 as shown above:
[code]

and in 3.6:
[code]

so Python 3.6 also accepts bytes and bytearray for loading json while 3.5 only accepts str.

[2017-08-11 14:36] mdipierro commented on #1715
Do we really care about python 3.5?

[2017-08-11 14:56] alhman commented on #1715
I'd hope so. python 3.6 was released end of 2016, so I doubt that all Python 3 users are already using 3.6

I couldn't install python 3.6 on my Win7 computer so I had to use 3.5

[2017-08-12 21:02] mdipierro opened #1733 "github export problem"
From: https://groups.google.com/forum/#!topic/web2py/TGKkRINprG0

Since updating from 2.14.6 to 2.15.2 (and also 2.15.3 released just moments ago) I have some problems with the default ExportClasses in SQLFORM.grid.
I am using MSSQL as database.
The grid displays just fine, only the export faild (to tsv and, in some cases, to csv - I did not test others).

I'll spare you the complete traceback and

[2017-08-13 18:55] #1724 closed

[2017-08-14 12:51] ilvalle commented on #1715
@alhman would you run your code on both py27 and py35 and check if it works with the following change?
Replace line https://github.com/web2py/web2py/blob/5e6c3dba812f2c82d288fe93c5bfe32b6cc624cd/gluon/globals.py#L223

with
[code]

[2017-08-14 18:16] alhman commented on #1715
this fails in both versions because body is a file descriptor.
I replaced it with
`json_vars = json_parser.loads(to_native(body.read()))`
which works in 2.7 and 3.5

[2017-08-14 20:50] lben opened #1734 "Feature Request: Add bulk update_or_insert"
The title says it all, I think a simple `insert into table values (c1, c2), (c1, c2)...;` could work. This sql idiom is available on almost all db engines except oracle it seems.

[2017-08-15 01:00] john11721 opened #1735 "'Expression' object has no attribute 'tablename'"
Has this problem been resolved:

https://groups.google.com/forum/#!topic/web2py/-6Xz48ECcEM

Still see this on
web2py™ | Version 2.15.3
-- | --
 rows = db(q).select(t.ALL, max, groupby=t.ALL, join=join) # this produces the error above :(
 rows = db(q).select(t.ALL, max, groupby=t.ALL, join=join).as_list() #this doesn't throw the error :)

[2017-08-15 07:55] lamyongxian opened #1736 "Web2py on Windows not migrating JSON Field properly on Postgres 9.6"
**Setup:**
Windows 10
Web2py 2.14.6
PostgreSQL 9.6

**Error on first migration:**
`column is of type json but expression is of type text`

The same setup gives no problem when running Web2py on Linux. The host operating system of PostgreSQL seems immaterial to the problem as JSON is created correctly while connecting Linux-based Web2py to a Windows-based PostgreSQL server.

**sql.log (original tab

[2017-08-15 12:20] benlawraus opened #1737 "python 3 web2py2.15.3 urllib has no getproxies"
ben@x1:/home/www-data/web2py$ python3 /home/www-data/web2py/web2py.py -K app-name,app-name

web2py Web Framework
Created by Massimo Di Pierro, Copyright 2007-2017
Version 2.15.3-stable+timestamp.2017.08.07.07.32.04
Database drivers available: pymysql, imaplib, psycopg2, sqlite3, pg8000
Traceback (most recent call last):
  File "/home/www-data/web2py/web2py.py", line 33, in <module>
    gluon.widge

[2017-08-15 14:36] leonelcamara commented on #1734
@iben this feature request should be in https://github.com/web2py/pydal

[2017-08-16 08:53] vcalic opened #1739 "Shell.py doesn't work in Python 3"
When trying to run web2py from shell under python3 it throws an exception since shell.py calls execfile() func:

Traceback (most recent call last):
  File "/Users/dev/Projects/www/gluon/shell.py", line 270, in run
    execfile(startfile, _env)
NameError: name 'execfile' is not defined

[2017-08-16 13:11] carpaIdea opened #1740 "Admin UI - Error ticket with less information in the latest web2py releases"
In a view, I have a trivial

 due to

[code]

But the Error Ticket returned by web2py is different depending on the development environment.
Below some cases.

Case 1 (best)
OS: windows 8
Web2py: Version 2.14.6-stable + timestamp.2016.05.10.00.21.47
Python: Python 2.7.13

![image](https://user-images.githubusercontent.com/3496662/29364536-1883c44a-8294-11e7-899d-a1e22df1437c.png)

Case 2
OS: windo

[2017-08-17 12:26] zvolsky opened #1742 "contrib/pg8000 is old and causes weird postgres errors"
Please update the contrib/pg8000 driver to the current version.
Otherwise errors like Broken Pipe, Operationalerror,.. occur,
- at least for postgres 9.6,
- especially for long running task (ie. scheduler, where they are not properly handled (scheduler workers will restart and earlier run rmains as RUNNING).

related links:
https://github.com/mfenniak/pg8000/issues/73
https://groups.google.com/for

[2017-08-17 21:05] carpaIdea commented on #1740
Issue already reported in ticket [#1676](https://github.com/web2py/web2py/issues/1676)

[2017-08-19 07:01] ilvalle commented on #1736
@lamyongxian close the issue here and open it on https://github.com/web2py/pydal/issues

[2017-08-19 13:32] ilvalle commented on #1715
Body is a `<class 'tempfile._TemporaryFileWrapper'>` and currently contains bytes. As a result, in py3 you get the error reported.

[2017-08-20 00:08] benlawraus opened #1744 "<type 'exceptions.MemoryError'> from appadmin"
I am trying to view a record such as
https://10.1.10.29/remail/appadmin/update/db/recipient_cc/110898
from the admin UI
Error is:
<type 'exceptions.MemoryError'>

Version
web2py™	Version 2.15.3-stable+timestamp.2017.08.07.07.32.04
Python	Python 2.7.12: /usr/local/bin/uwsgi (prefix: /usr)
Traceback
Traceback (most recent call last):
  File "/home/www-data/web2py/gluon/restricted.py", line 219, in r

[2017-08-20 11:40] leonelcamara commented on #1744
You ran out of memory. What system are you running this on?

[2017-08-20 15:49] josedesoto opened #1745 "after_delete set, not iterable"
Hi,

I have found a strange behavior in **after_delete** (db.mytable._after_delete). "queryset" is the return variable, If I do:
[code]

[code]

[code]

[code]

[code]

To get the deleted ID I have to do:
[code]

Is this the right be behavior?

[2017-08-20 15:55] leonelcamara commented on #1745
I don't see the problem.  Obviously the set will be empty if you run a select (which isempty also does) since you already deleted the elements that show up in its query.

If you want to do stuff with the data that is going to be deleted you should use before delete not after.

[2017-08-20 15:59] josedesoto commented on #1745
thanks leonelcamara. I close the issue.

[2017-08-20 15:59] #1745 closed

[2017-08-21 07:32] pbreit commented on #1730
Seems to fix: `git submodule update --init --recursive`

[2017-08-21 07:32] pbreit commented on #1727
Fixed for me: `git submodule update --init --recursive`

[2017-08-28 16:25] #1737 closed

[2017-08-28 16:25] #1739 closed

[2017-08-28 16:25] #1676 closed

[2017-08-28 16:25] #1740 closed

[2017-08-28 18:37] ilvalle commented on #1694
See https://groups.google.com/d/topic/web2py-developers/CzjsjXpA78s/discussion
At the moment the imap adapter is here https://github.com/web2py/pydal/blob/master/pydal/contrib/imap_adapter.py. However mind that is neither maintained nor tested.
It's better to close this ticket and open one in pydal.

[2017-08-29 12:45] clviper opened #1748 "Modules do not reflect code change unless web2py proccess is killed."
Hi there. I'm having a strange behavior on the version 2.15.3. Every time I change the code in a .py file that is located in the modules, the changes are never reflected unless I kill web2py proccess (stop/start web2py server does not solve the issue).

Poc:
. Create mytest.py inside the /applications/app/modules/ folder with a function with a print string
. Inside on of the controllers import the

[2017-08-29 19:53] BuhtigithuB commented on #1748
That's normal, you have to restart web2py when you change module as modules
are only imported once at startup... Please close this issue.

Quotes :

For uniformity with normal Python behavior, by default web2py does not
reload modules when changes are made. Yet this can be changed. To turn on
the auto-reload feature for modules, use the track_changes function as
follows (typically in a model file,

[2017-08-30 15:05] iiijjjii opened #1750 "Print statement fails in command line script (v2.15.3)"
After upgrading to v2.15.3, when scripts are run from the command line, print statements produce a SyntaxError. The print function works. This was not a problem in v2.14.6. (Tested with Python 2.7.11)

To illustrate:

    $ cat test.py
    #!/usr/bin/env python
    if __name__ == '__main__':
        print 'Hello!'

    $ python web2py.sh --no-banner -S myapp -R test.py
    Traceback (most recent c

[2017-08-30 15:52] abastardi commented on #1750
As noted [here](https://groups.google.com/d/msg/web2py/xvObm3bdyhU/_P0TgpAwAAAJ), this happens because `gluon.shell.py` now includes `from __future__ import print_function`, so any code run through the web2py command line (including within the web2py shell) will be forced to use the `print()` function rather than the `print` statement.

[2017-08-30 17:52] zvolsky opened #1751 "MARKMIN(T(...)) no longer works, at least in templates"
Py27
This doesn't work for me in templates (was Ok in version from 2016):

{{=MARKMIN(T("**something bold** something more"))}}
This works:
{{=T("**something** something")}}

Error for the 1st case is
  File "/home/www-data/web2py/gluon/restricted.py", line 219, in restricted
    exec(ccode, environment)
  File "<string>", line 113, in <module>
  File "/home/www-data/web2py/gluon/html.py", line 27

[2017-09-03 14:35] FeZoli opened #1752 "non ASCII characters cause exception in email verification subject field"
**Reproduction:**
1. Translate the string "Email verification" in your language file like this in the hu.py:
`Regisztráció megerősítése`

2. Register to your site

After clicking the Register button, you will get a ticket with error message like this:
`UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 8: ordinal not in range(128)`

The trace shows that error comes from here:
`Fi

[2017-09-03 15:51] liuyibing45 opened #1753 "LOAD() error which result from the python3 map function in gluon/compileapp.py line 208"
I am using python3.6 and  web2py 2.15.4. When I use the LOAD() funtion I find an error "can only concatenate list (not "map") to list". After searching and debugging, I find that python3 change the behavior of map function. In python3 map() function return an map object not a list. So the gloun/compileapp line 208 `        other_request.env.path_info = '/' + \
            '/'.join([request.applica

[2017-09-03 15:54] liuyibing45 commented on #1753
In addition, I can see that the map() function is used many times in the compileapp.py. Maybe, all the map function should be wrap with list()?

[2017-09-05 01:48] leonelcamara commented on #1753
No no, don't do **list(map**, that's terrible looking and not that good for performance, just use a list comprehension instead of map.

[2017-09-05 10:49] th-w opened #1754 "uncasted db var overloads apache"
Until 2.14.6 this code worked:
model:
[code]

controller:
[code]
The rec_id variable seemed to be autocasted.
After the upgrade, Apache 2.4 (wsgi) goes to 100% cpu load.

I cannot figure out, where the Problem is found in the libs.

[2017-09-07 03:01] TedMaciag commented on #1715
Can't install 3.6?  Just update,  or use Anaconda.

[2017-09-07 05:35] th-w opened #1757 "user_agent.is_mobile fails with NoneType"
web2py™ | Version 2.15.4-stable+timestamp.2017.09.02.04.02.22
Python 2.7.13: /usr/bin/python (prefix: /usr)

[code]

[2017-09-07 12:39] dburba commented on #1735
This error affects me as well (with PostgreSQL)

Version 2.15.4-stable+timestamp.2017.09.02.04.02.22

[code]
Error:

[code]

[2017-09-08 17:50] fgalbuqu opened #1759 "ignore_field_case=True, is not working in new DAL with psycopg2/Postgresql"
After updating to the newest version I got this problem with table field names with capitalized letters. It  gives an error until I change the field name to all non capitals. See the attached file with the screen error.
[Web2py Issue.pdf](https://github.com/web2py/web2py/files/1288707/Web2py.Issue.pdf)

[2017-09-10 13:38] leonelcamara commented on #1759
You can workaround this issue by setting entity_quoting=False e.g. DAL(..., entity_quoting=False)

I recommend you close the issue here and open it in https://github.com/web2py/pydal

[2017-09-10 16:37] fgalbuqu commented on #1759
Thank you Leonel. I will close and open the issue in pydal.

[2017-09-10 16:37] #1759 closed

[2017-09-12 17:25] benjaminato opened #1760 "Problem with web2py compilation"
Hi there

Very simple to show this issue:

1. download latest version of web2py (I use Mac OS version for Normal users)
2. From Admin interface compile and pack the 'Welcome' application that comes as standard with web2py
3. Then from the Admin interface upload and install the compiled 'Welcome' application you have just created (calling a different name of course)
4. When you try to run this comp

[2017-09-13 04:44] lben commented on #1734
Thank you for your response leonel, I did as you suggested and now there is the issue #493 on pydal repository, I am closing this then.

[2017-09-13 04:44] #1734 closed

[2017-09-13 09:47] ursustas opened #1762 "Bug in \pydal\adapters\oracle.py line 69-70 (not all arguments converted during string formatting)"
Bug in oracle.py line 69-70 (not all arguments converted during string formatting):

Reason: % operator has higher precedence than unary operations (specifically in this example+)

web2py\gluon\packages\dal\pydal\adapters\oracle.py
self.execute(
    'CREATE SEQUENCE %s START WITH 1 INCREMENT BY 1 NOMAXVALUE ' +
    'MINVALUE -1;' % sequence_name)

example:

sequence_name = "test"

print(
    'CREA

[2017-09-14 05:02] tiagobar opened #1764 "Bug in gluon/validators.py/is_empty() in Python 3"
I was digging around trying to save an edit/sqlform with an upload field and it was failing with "Invalid image" error message. My upload field is using "requires=IS_EMPTY_OR(IS_IMAGE())" validator.
Since the field already have an image and I just want to update others fields it does not make sense to fire this error. Debugging a bit I found that upload field value (from input) is sent empty (b'')

[2017-09-14 19:13] codendahl opened #1765 "fpdf 1.72 in 2.15.4 produces incorrect pdf files on windows and mac"
pdf files can be read by ubuntu's pdf viewer but not by any standard viewer on windows or mac.
Workaround is to go back to pyfpdf 1.71 by replacing the fpdf folder in web2py's gluon folder.
Thus the problem is obviously the new version of fpdf released with web2py 2.15.1-4
(also see https://stackoverflow.com/questions/45733455/pdf-created-by-fpdf-python-works-fine-with-browser-and-ubuntu-but-showi

[2017-09-15 11:51] dbrrt opened #1767 "How to write Unit Tests with web2py?"
Is there a way to write Unit Tests for an Application/Module within web2py runtime?

[2017-09-16 12:42] lcolmen commented on #1551
Well as 16 september 2017, I get the same error using Sierra (OSX 10.12.6)

[2017-09-16 15:12] tiagobar commented on #1764
The problem occurs only with Python 3. I tested it with Python 2.7 and it runs fine both versions (web2py 2.15.4 and my updated version).

I'm using web2py 2.15.4 and Python 3.5.

[2017-09-16 17:58] leonelcamara commented on #1551
Appears to be a [py2app bug](https://bitbucket.org/ronaldoussoren/py2app/issues/232/py2app-tk-app-fails-with-detected-missing), I would simply use the source version while the problem persists.

[2017-09-18 03:13] Barnett-arturo opened #1768 "env"

[2017-09-18 22:00] leonelcamara commented on #1748
Note that track_changes works pretty well for single file modules, the problem is with modules that are in their own directory (packages).

[2017-09-19 10:42] leonelcamara commented on #1768
@Barnett-arturo You need to provide some description of your issue.

[2017-09-19 12:34] Marlysson commented on #1768
@leonelcamara think that he would want use the enviroment variables in web2py code, what the better way to use this?

Just use some private.ini files? Each one having the configurations of production, local, test....

[2017-09-19 19:10] leonelcamara commented on #1768
You can use config files yes, you also have request.env which has a lot of env information from the webserver and wsgi parameter.. You can also access environment variables the same way you do in any python program using os.environ.

Anyway, we can't really know what he wants or is having a problem with from only the word "env" so this issue should be closed.

[2017-09-19 21:40] leonelcamara commented on #1764
@tiagobar your fix adding "**or value == b**" seems perfectly fine to me and will work with python 3 and 2.7, can you submit a pull request?

[2017-09-19 22:12] Marlysson commented on #1768
I agree..

@leonelcamara is possible use the code: ```request.env.whatever``` into private.ini in private folder?

[2017-09-19 22:34] leonelcamara commented on #1768
@Marlysson The private/appconfig.ini is a configuration file for your application it's not exactly environment variables. Web2py has an utility class that wraps the regular ConfigParser python module so it's easier to use in web2py applications called AppConfig, it's easy enough to see how to use it in the welcome application's [db.py](https://github.com/web2py/web2py/blob/master/applications/welc

[2017-09-19 22:50] Marlysson commented on #1768
@leonelcamara Great, this way I knew..
I spoke by something seemed with python-decouple used in settings.py in django projects..

But I recognize that is different approaches

[2017-09-20 11:29] trendspotter opened #1769 "Scheduler database transaction nesting causes middleware to stall during shutdown"
I have a web2py application using PostgreSQL running via uWSGI with roughly following configuration
[code]

When I need to restart the app, I observe a 30 second delay
[code]

however when I don't use the scheduler mule, the app restarts quickly, as expected
[code]

I've tried to track the behavior and found out that the scheduler doesn't close the database transactions  for polling properly and l

[2017-09-21 02:52] liuyibing45 opened #1770 "submit with null input in request_reset_password raise an error "Target receiver address not specified""
python 3.6, web2py 2.15.4, windows server 2012 r2. Submit with null input in request_reset_password raise an error "Target receiver address not specified". However I think an is_email validator will take action not rasing an error ticker.

[2017-09-21 05:20] #1753 closed

[2017-09-21 05:20] #1751 closed

[2017-09-21 05:20] #1752 closed

[2017-09-21 05:21] #1757 closed

[2017-09-22 06:10] liuyibing45 opened #1771 "Bug: upload field whose filename is cutoff by length="some even value" will raise "Odd-length string" when I click the field link under the SQLFORM.smartgrid view"
windows 10 or server 2012 r2(can both reproduce the bug), python 3.6, web2py 2.15.4.
I define a table in db.py as following:
`db.define_table('table_up_file',
                Field('input_year', 'string',default=request.now.strftime("%Y")),
                Field('up_file', 'upload',length=200,autodelete=True), )`
In default controller I use the following code
`query=db.table_up_file.id>0
grid=SQLF

[2017-09-22 10:52] liuyibing45 opened #1772 "A solution for adding file extension when streaming uploaded file whose filename is truncated by the Field('',length=somevalue,)"
web2py 2.15.4, windows 10, python 3.6. I upload a file whose name is very long with Field('',length=200,). The file can be stored into the upload folder with a hash name with file extension  successfully. However when I try to stream the file according smartgrid() I get the truncated filename without file extension. After debugging I find a solution.
Modify the line 1735 in pydal/objects.py from`f

[2017-09-22 10:52] liuyibing45 opened #1773 "A solution for adding file extension when streaming uploaded file whose filename is truncated by the Field('',length=somevalue,)"
web2py 2.15.4, windows 10, python 3.6. I upload a file whose name is very long with Field('',length=200,). The file can be stored into the upload folder with a hash name with file extension  successfully. However when I try to stream the file according smartgrid() I get the truncated filename without file extension. After debugging I find a solution.
Modify the line 1735 in pydal/objects.py from`f

[2017-09-22 10:52] liuyibing45 opened #1774 "A solution for adding file extension when streaming uploaded file whose filename is truncated by the Field('',length=somevalue,)"
web2py 2.15.4, windows 10, python 3.6. I upload a file whose name is very long with Field('',length=200,). The file can be stored into the upload folder with a hash name with file extension  successfully. However when I try to stream the file according smartgrid() I get the truncated filename without file extension. After debugging I find a solution.
Modify the line 1735 in pydal/objects.py from`f

[2017-09-22 10:52] liuyibing45 opened #1775 "A solution for adding file extension when streaming uploaded file whose filename is truncated by the Field('',length=somevalue,)"
web2py 2.15.4, windows 10, python 3.6. I upload a file whose name is very long with Field('',length=200,). The file can be stored into the upload folder with a hash name with file extension  successfully. However when I try to stream the file according smartgrid() I get the truncated filename without file extension. After debugging I find a solution.
Modify the line 1735 in pydal/objects.py from`f

[2017-09-22 10:52] liuyibing45 opened #1776 "A solution for adding file extension when streaming uploaded file whose filename is truncated by the Field('',length=somevalue,)"
web2py 2.15.4, windows 10, python 3.6. I upload a file whose name is very long with Field('',length=200,). The file can be stored into the upload folder with a hash name with file extension  successfully. However when I try to stream the file according smartgrid() I get the truncated filename without file extension. After debugging I find a solution.
Modify the line 1735 in pydal/objects.py from`f

[2017-09-22 10:52] liuyibing45 opened #1777 "A solution for adding file extension when streaming uploaded file whose filename is truncated by the Field('',length=somevalue,)"
web2py 2.15.4, windows 10, python 3.6. I upload a file whose name is very long with Field('',length=200,). The file can be stored into the upload folder with a hash name with file extension  successfully. However when I try to stream the file according smartgrid() I get the truncated filename without file extension. After debugging I find a solution.
Modify the line 1735 in pydal/objects.py from`f

[2017-09-22 10:52] liuyibing45 opened #1778 "A solution for adding file extension when streaming uploaded file whose filename is truncated by the Field('',length=somevalue,)"
web2py 2.15.4, windows 10, python 3.6. I upload a file whose name is very long with Field('',length=200,). The file can be stored into the upload folder with a hash name with file extension  successfully. However when I try to stream the file according smartgrid() I get the truncated filename without file extension. After debugging I find a solution.
Modify the line 1735 in pydal/objects.py from`f

[2017-09-22 10:52] liuyibing45 opened #1779 "A solution for adding file extension when streaming uploaded file whose filename is truncated by the Field('',length=somevalue,)"
web2py 2.15.4, windows 10, python 3.6. I upload a file whose name is very long with Field('',length=200,). The file can be stored into the upload folder with a hash name with file extension  successfully. However when I try to stream the file according smartgrid() I get the truncated filename without file extension. After debugging I find a solution.
Modify the line 1735 in pydal/objects.py from`f

[2017-09-22 10:52] liuyibing45 opened #1780 "A solution for adding file extension when streaming uploaded file whose filename is truncated by the Field('',length=somevalue,)"
web2py 2.15.4, windows 10, python 3.6. I upload a file whose name is very long with Field('',length=200,). The file can be stored into the upload folder with a hash name with file extension  successfully. However when I try to stream the file according smartgrid() I get the truncated filename without file extension. After debugging I find a solution.
Modify the line 1735 in pydal/objects.py from`f

[2017-09-22 10:52] liuyibing45 opened #1781 "A solution for adding file extension when streaming uploaded file whose filename is truncated by the Field('',length=somevalue,)"
web2py 2.15.4, windows 10, python 3.6. I upload a file whose name is very long with Field('',length=200,). The file can be stored into the upload folder with a hash name with file extension  successfully. However when I try to stream the file according smartgrid() I get the truncated filename without file extension. After debugging I find a solution.
Modify the line 1735 in pydal/objects.py from`f

[2017-09-22 10:52] liuyibing45 opened #1782 "A solution for adding file extension when streaming uploaded file whose filename is truncated by the Field('',length=somevalue,)"
web2py 2.15.4, windows 10, python 3.6. I upload a file whose name is very long with Field('',length=200,). The file can be stored into the upload folder with a hash name with file extension  successfully. However when I try to stream the file according smartgrid() I get the truncated filename without file extension. After debugging I find a solution.
Modify the line 1735 in pydal/objects.py from`f

[2017-09-22 10:52] liuyibing45 opened #1783 "A solution for adding file extension when streaming uploaded file whose filename is truncated by the Field('',length=somevalue,)"
web2py 2.15.4, windows 10, python 3.6. I upload a file whose name is very long with Field('',length=200,). The file can be stored into the upload folder with a hash name with file extension  successfully. However when I try to stream the file according smartgrid() I get the truncated filename without file extension. After debugging I find a solution.
Modify the line 1735 in pydal/objects.py from`f

[2017-09-22 10:52] liuyibing45 opened #1784 "A solution for adding file extension when streaming uploaded file whose filename is truncated by the Field('',length=somevalue,)"
web2py 2.15.4, windows 10, python 3.6. I upload a file whose name is very long with Field('',length=200,). The file can be stored into the upload folder with a hash name with file extension  successfully. However when I try to stream the file according smartgrid() I get the truncated filename without file extension. After debugging I find a solution.
Modify the line 1735 in pydal/objects.py from`f

[2017-09-22 10:53] #1784 closed

[2017-09-22 10:53] #1783 closed

[2017-09-22 10:53] #1782 closed

[2017-09-22 10:53] #1781 closed

[2017-09-22 10:53] #1780 closed

[2017-09-22 10:54] #1779 closed

[2017-09-22 10:54] #1778 closed

[2017-09-22 10:54] #1777 closed

[2017-09-22 10:54] #1776 closed

[2017-09-22 10:54] #1775 closed

[2017-09-22 10:54] #1774 closed

[2017-09-22 10:54] #1773 closed

[2017-09-22 11:30] leonelcamara commented on #1765
I managed to reproduce this by adding png images to the pdf, oddly enough it didn't always happen, only one of my test png files seemed to cause it, so my guess is that you will have to remove images until you find the culprit and then try to remake the file maybe in another program so it won't cause the problem.

[2017-09-22 12:37] codendahl commented on #1765
Thanks for your answer!

But on Ubuntu the pdf is fine, even with images. And, more important, by replacing the fpdf folder with the one from the previous web2py version (fpdf 1.7.1 from the last stable web2py 2.14.6.) solves the problem in total and produces proper pdf files on Linux, Windows and Mac. Thus, I guess, the problem results from the new version of fpdf released with web2py 2.15.1-4.

[2017-09-23 05:56] liuyibing45 commented on #1770
More detail about this bug. There are records whose email is null.

[2017-09-23 06:46] liuyibing45 commented on #1770
A solution: modify gluon/tools.py line 3573-3587 from
`        if userfield == 'email':
            table_user.email.requires = [
                IS_EMAIL(error_message=self.messages.invalid_email),
                IS_IN_DB(self.db, table_user.email,
                         error_message=self.messages.invalid_email)]
            if not self.settings.email_case_sensitive:
                table_use

[2017-09-24 05:07] liuyibing45 commented on #1771
a solution:
modify the line 1763-1773  to:
[code]

[2017-09-28 09:22] JusticeN opened #1786 "python3.4 : can not concat bytes to str"
hello,
i start web2py from the source code.

after starting i receive a ticket containing this error

could someone tell me please what is going wrong ?
thanks in advance

[2017-09-28 16:08] leonelcamara commented on #1786
Python 3.4 doesn't support % formatting for bytes, hence the problem you're having, is there a reason you can't use a more recent python 3 version?

[2017-09-29 08:25] JusticeN commented on #1786
Thank for your Reply. Whichpython3 Version are You using for Test ?
Is There any raison not to use the {}.format Syntax. It is also supported since python2.6 ?
See : https://stackoverflow.com/questions/5082452/python-string-formatting-vs-format

[2017-09-29 13:49] leonelcamara commented on #1786
We're using 3.5 and 3.6 in our continuous integration tests, I guess there's no reason not to use the other syntax in this situation, however I don't think we really want the trouble of supporting python 3.4.  Note that I don't speak for the web2py project, this is just my opinion as a contributor.

[2017-10-02 09:23] JusticeN commented on #1786
Thanks you for for your help. i just update my python version to 3.6 and it works like a charm :-)

i will just close it because it is not really an issue. thanks for your time.

[2017-10-02 09:23] #1786 closed

[2017-10-02 09:26] JusticeN commented on #1772
cool nice to see people that help porting web2py to python3. can you please make a pull request ?

[2017-10-11 02:34] boriscougar opened #1787 "Scheduler: debug message causes multiple tickers to appear on web2py"
https://github.com/web2py/web2py/blob/5975e4767fd7339b5c588305ec9e8eebd9c079c5/gluon/scheduler.py#L1228-L1236

The code above causes multiple workers to set themselves as tickers under the following circumstances:

1. The function "being_a_ticker()" successfully executes itself until the point updating the worker as the ticker (is_ticker=True)
2. Then when it wants to set all other workers as is_t

[2017-10-12 16:12] timnyborg opened #1788 "Autocomplete widgets set request.vars every request"
See the following lines, where request.vars.ac is set to 1 every call:

https://github.com/web2py/web2py/blob/5975e4767fd7339b5c588305ec9e8eebd9c079c5/gluon/sqlhtml.py#L685

I'm guessing it should be using copy.copy() to set urlvars = request.vars?

[2017-10-12 16:25] timnyborg commented on #1788
Fixed on my server by:
https://github.com/web2py/web2py/pull/1789

[2017-10-16 11:43] sPyOpenSource commented on #1156
web2py version R-2.15.1-4 still have this problem.

[2017-10-19 03:12] #1764 closed

[2017-10-20 09:48] zilakmarian opened #1790 "Invoking sql queries from threads results in error"
I've switched to newer version (2.15.4-stable) and found out that my code for retrieving data from database does not work anymore. It crashes on invoking 'executesql' from thread with error:
`AttributeError: 'thread._local' object has no attribute '_pydal_connection_139988697348176_13906'`

Invoking queries from main thread works correctly, this happens only calling it from threads.
Sample code:
[

[2017-10-23 16:44] advh67 commented on #1760
I am trying to use web2py on python3 and when compiling my modules I am always getting an error:
NameError("name 'reload' is not defined",)

If I execute module files on command line I get no errors:
python3 mymodule.py
(blank, no errors)

I noticed the file gluon/appcompile.py has a "reload(module)" in line 351. The "reload" works on python2, but does not work on python3. Am I wrong?

[2017-10-23 18:34] fiubarc opened #1791 "current object apparently empty when instantiate validator in a module file"
Hello, Im having a problem with the validators translation..

 I set requires to a SQLFORM in a module file and then process the form

On validators.py have_current is True but is empty.

[code]

When function translate(text) call hasattr(current, 'T') return False
[code]
Only work with validators instantiated in models.

Is a bug or I am missing something??
Thanks!

[2017-10-27 15:21] sherdim opened #1792 "reload for PY3 support"
for someone who cares

@_compat.py:
#if PY2
+39     reload = reload
#else:
+78    from importlib import reload

@compileapp.py:
- from gluon._compat import builtin, PY2, unicodeT, to_native, to_bytes, iteritems, basestring, reduce, xrange, long
+ from gluon._compat import builtin, PY2, unicodeT, to_native, to_bytes, iteritems, basestring, reduce, xrange, long, reload

[2017-10-28 06:37] sherdim commented on #1727
related issue fix:
@languages.py

def upper_fun(s):
    return to_unicode(s).upper()

def title_fun(s):
    return to_unicode(s).title()

def cap_fun(s):
    return to_unicode(s).capitalize()

patch like this
118c118
<     return unicode(s, 'utf-8').capitalize().encode('utf-8')
---

[2017-10-28 07:25] ilvalle commented on #1792
@sherdim would you send a PR with the proposed fix?

[2017-10-28 07:29] ilvalle commented on #1727
@sherdim the fix seems ok, would you send a PR along with a basic unittest ?

[2017-10-28 16:46] sherdim commented on #1727
PR #1793  but no unittest
These functions are absent at gluon/tests/test_languages.py

[2017-10-28 16:50] sherdim commented on #1792
@ilvalle  I did #1793

[2017-10-30 02:19] tyrbonit opened #1794 "sys.stdout in scheduler.py not redifined"
run_output not synchronize with print function in my task, instead, data is printed in the console. web2py running in windows OS.

[2017-11-01 15:12] timnyborg commented on #1559
Grid doesn't _display_ aggregated fields, but I've just tried extending it to allow a having clause for filtering, and it seems to work fine.

[2017-11-02 10:50] vitkarpenko opened #1795 "Internal middleware returns incorrect status code"
Example from http://web2py.com/books/default/chapter/29/04/the-core#Internal-middleware returns 500 status code on latest web2py version (while still converting 'hello world' to 'HELLO WORLD' correctly).

[2017-11-02 10:55] vitkarpenko commented on #1795
I've create a pull request for this problem: #1796

[2017-11-05 19:30] StageCoachDriver opened #1798 "Image BLOG fails looking for myconf"
Following instructions for creating 'An image blog'. When I try to run http://127.0.0.1:8000/images/appadmin I get: '<type 'exceptions.NameError'> name 'myconf' is not defined'. A Stackoverflow user suggested deleting menu.py model to resolve the problem and that worked.

What's up with that?

[2017-11-07 22:28] abastardi opened #1800 "Auth change_password does not enforce settings.password_min_length"
In authapi.py at https://github.com/web2py/web2py/blob/c4e08eeeb34cb51d9048a0eabc07586494ac8c8c/gluon/authapi.py#L991 and in tools.py at https://github.com/web2py/web2py/blob/c4e08eeeb34cb51d9048a0eabc07586494ac8c8c/gluon/tools.py#L3696, the `change_password` code sets the `CRYPT` `min_length` attribute to `0` (so the minimum length requirement will not be enforced on the old password). However, t

[2017-11-07 23:16] leonelcamara commented on #1800
Eh, funny bug, which is happening because supposedly that would only be applied to validate the old_password but we change IS_CRYPT instance which is used later for the new_password, I guess this is my fault for not thinking it through when I made the authapi refactor and just copying the old behaviour as it was. I'll look into it.

[2017-11-11 00:12] #1800 closed

[2017-11-11 00:12] #1735 closed

[2017-11-11 09:49] #1795 closed

[2017-11-11 11:49] alhman commented on #1715
what should I update? I'd have to do a complete new setup of my system and install Win10 (ugh) instead of the old (but still working) Win7. and what is Anaconda?

As I mentioned above the issue could be fixed with a one-liner so I don't understand why it is not resolved already. If you're not interested in Python 3.5 support then you should mark this issue as "wont fix" and further mention on the

[2017-11-13 22:55] leonelcamara commented on #1788
@mdipierro this can be closed as the fix was already merged.

[2017-11-13 22:56] #1788 closed

[2017-11-14 03:13] #1715 closed

[2017-11-14 07:06] mdipierro commented on #1715
Thanks everybody

[2017-11-14 11:12] ramstein74 opened #1805 "Url not found"
In the code
web2py/applications/admin/static/js/jqueryMultiSelect.js
there is  a reference to this url
Visit http://abeautifulsite.net/notebook.php?article=62

but the url is "not found!!!"

[2017-11-14 21:45] alhman commented on #1715
thanks

[2017-11-16 06:36] sherdim opened #1808 "translator params_substitution fails"
The error appears in 2.15 in appadmin html template
and have survived after update
it is unicode related IMHO

web2py™ | Version 2.16.1-stable+timestamp.2017.11.14.05.54.25
Python 2.7.11
sys.setdefaultencoding('utf-8')  at sitecustomize.py

To reproduce open link
/welcome/appadmin/select/db?query=db.auth_user.id>0
with Russian locale

[code]

If to comment out translate calls and to reload the app

[2017-11-16 20:01] snidelytoo opened #1809 "Rocket doesn't log enough information to diagnose connection issues."
After certificate renewal, Rocket restarts but connections are refused.  Log says "listening", but has no information about why connection was refused.

Reported at
<URL:https://groups.google.com/d/topic/web2py/G0hV1MALUJ0/discussion>

/dps

[2017-11-16 20:04] snidelytoo commented on #1809
Web2py 2.14.6 on AWS Linux

[2017-11-16 20:20] snidelytoo opened #1810 "Rocket has problems with large uploads from wininet client"
If files are greater than about 1M, Rocket has delays posting the upload, and may show a timeout in the log.  User thinks transfer took a few seconds and was successful.

Reported in
<URL:https://groups.google.com/d/msg/web2py/dTK5lxWBsIA/JwskeLCrBwAJ>
and earlier in
<URL:https://groups.google.com/d/msg/web2py/lSdsqHLftVQ/Hf1j7z5jCwAJ>

web2py 2.14.6 on AWS Linux

/dps

[2017-11-19 01:03] PhanterJR opened #1812 "computed field problem on update record - Web2py 2.16.1"
I have this code:

my model:

[code]

my controller:

[code]

my view:
[code]

on update (appadmin too), the record not update.

 see in action (reproduce)
[https://drive.google.com/file/d/0B7J2UqggMO7eaHNPTkEycUY3VlhNN2NCUkw3T1FwRWgyT1ZR/view?usp=sharing](url)

[https://drive.google.com/file/d/0B7J2UqggMO7eUDZ5NktpUTJubFlVVVd2dUhYZy14eEoyWXlB/view?usp=sharing](url)

[https://drive.google.com/file

[2017-11-19 07:34] ilvalle commented on #1812
Does it work with R-2.15.4?

[2017-11-20 08:56] robinvandernoord opened #1813 "[2.16.1] <type 'exceptions.AttributeError'> 'Field' object has no attribute 'options'"
Since I updated to 2.16 I get this error on every page (even new apps, but not admin):
[code]

[2017-11-20 16:10] PhanterJR commented on #1812
Yes, Work. I downgraded to this version.

[2017-11-20 18:46] PhanterJR commented on #1812
There is no problem adding a new record, only when updating. Here I registered 1 + 2, in compute field it got 3, so I changed the value from 2 to 5 and made the submission. [see here](https://drive.google.com/file/d/0B7J2UqggMO7eaHNPTkEycUY3VlhNN2NCUkw3T1FwRWgyT1ZR/view)

does not show errors, apparently field number2 has been updated, but we can see that compute field has not changed.  [see here]

[2017-11-20 23:33] domezzzzx opened #1815 "[2.16.1] <type 'exceptions.AttributeError'> 'FieldVirtual' object has no attribute 'listable'"
Version windows EXE, 2.16.1-stable+timestamp.2017.11.14.05.54.25

Error in sqlform.grid with virtual field

model:

In web2py 2.15.4 run ok.

[2017-11-22 05:10] tyrbonit commented on #1808
1. Strings in plural-ru.py file is uncorrect:
the content plural-ru.py should be
[code]
instead
[code]

2. You must modify the following functions in languages.py, because its return not encoded string ():

[code]

[2017-11-22 20:52] mdipierro commented on #1813
Did you upgrade web2py but not pydal?

[2017-11-22 20:53] ridwanonchy commented on #1813
kma_onchy.com

[2017-11-28 04:03] neorusa opened #1816 "response.include_meta() bug"
Hi!
I have a function in my modules

[code]

Then in my 'layout.html:

`{{response.include_meta()}}`

It produces follow code:

[code]

OS: Linux Mint 18.2 (Ubuntu 16.04),
Web2py 2.16.1-stable+timestamp.2017.11.14.05.54.25
(Running on Rocket 1.2.6, Python 3.5.2)

[2017-11-29 16:14] isaiahc0 opened #1817 "urllib not imported for pydal"
Path: /web2py/gluon/packages/dal/pydal/base.py

Line 403 uses urllib in the lambda. Causes NameError: global name 'urllib' is not defined

"import urllib" required

[2017-12-02 09:19] ilvalle commented on #1817
@isaiahc0 open an issue on https://github.com/web2py/pydal project or better open directly a pull request with the fix, replace
```            credential_decoder = lambda cred: urllib.unquote(cred)```
with
```            credential_decoder = lambda cred: unquote(cred)```

[2017-12-02 19:01] #1816 closed

[2017-12-03 10:06] AlxG78 commented on #1815
same

web2py™ | Version 2.16.1-stable+timestamp.2017.11.14.05.54.25
-- | --
Python 2.7.14: /usr/bin/python2 (prefix: /usr)

[2017-12-03 10:12] AlxG78 commented on #1815
Hello,

Same

--
127.0.0.1.2017-12-03.11-04-26.a0d46cc0-4ccf-45a4-bde1-63d011050959
<type 'exceptions.AttributeError'> 'FieldVirtual' object has no attribute 'listable'

web2py™ | Version 2.16.1-stable+timestamp.2017.11.14.05.54.25
-- | --
Python 2.7.14: /usr/bin/python2 (prefix: /usr)

Traceback (most recent call last):
  File "/mnt/sda6_home/codigo/tmp/w2p_test/web2py/gluon/restricted.py", line

[2017-12-03 16:15] icodk commented on #1815
I get the same error when running under 2.16.1
<type 'exceptions.AttributeError'> 'FieldVirtual' object has no attribute 'listable'
Works fine in 2.14.06
Field definition:
db.zone.inside = Field.Virtual('inside', lambda row: 1)

[2017-12-04 11:18] dburba commented on #1735
My issue with TOTAL_ROWS is not resolved in Version 2.16.1-stable+timestamp.2017.11.14.05.54.25

[code]

[2017-12-04 11:35] dburba opened #1819 "<type 'exceptions.AttributeError'> 'NoneType' object has no attribute '_tablename'"
Version 2.16.1-stable+timestamp.2017.11.14.05.54.25

[code]
Error:

[code]

Was working until Version 2.15.4-stable+timestamp.2017.09.02.04.02.22 came out

[2017-12-04 11:40] dburba opened #1820 "AttributeError: 'NoneType' object has no attribute 'startswith'"
Version 2.16.1-stable+timestamp.2017.11.14.05.54.25
[code]
[code]
[code]
Was working with version 2.14, not sure about 2.15

[2017-12-06 00:15] AlighaThor commented on #1748
As @leonelcamara says, I found too that **track_changes** seems to be working only with single file modules. Everything else inside a package fails and we need to restart the server.

[2017-12-06 00:30] AlighaThor commented on #1820
Is that exception generated while using SQLForm.grid or smartgrid?

[2017-12-06 07:51] dburba commented on #1820
It is not grid nor smartgrid, just simple query.

[2017-12-10 12:13] veiko99 opened #1822 "python3.5 : AttributeError: module 'urllib' has no attribute 'quote_plus'"
python 3.5, web2py version 2.16.1-stable+timestamp.2017.11.14.05.54.25

[code]

[2017-12-12 19:46] ilvalle commented on #1725
this issue can be closed, see https://github.com/web2py/web2py/blob/master/gluon/main.py#L748

[2017-12-13 20:32] vicding commented on #1815
same error here. for version 2.16.1

[2017-12-18 10:40] timnyborg commented on #1812
Same problem here.  Computed fields now display, unless readable=False, and errors are thrown (but with no details), unless writable=False.

The solution for me is to set writable=False for all the computed fields, and they behave properly, as before.

[2017-12-18 17:31] PhanterJR commented on #1812
it work with R-2.15.4, but it don't work with new version. I Opened a
ticket.
https://github.com/web2py/web2py/issues/1812

2017-12-18 7:41 GMT-03:00 Tim Nyborg <notifications@github.com>:

[2017-12-22 14:14] liuzhijun opened #1827 "is this a super bug in scheduler in version web2py.2.14.6 ?"
Traceback (most recent call last):
  File "/home/www-data/web2py2000/gluon/restricted.py", line 227, in restricted
    exec ccode in environment
  File "applications/player/models/0.py", line 83, in <module>
    scheduler = Scheduler(session_service.db, migrate=False)
  File "/home/www-data/web2py2000/gluon/scheduler.py", line 585, in __init__
    self.define_tables(db, migrate=migrate)
  File "/h

[2017-12-22 14:26] liuzhijun commented on #1827
but it works well on windows, kindly help, thank you!

[2017-12-23 01:23] liuzhijun commented on #1827
the problem was fixed by add a condition when init scheduler_instance, like:
`if not hasattr(current, "scheduler"):
    from gluon.scheduler import Scheduler
    scheduler = Scheduler(session_service.db, migrate=False)
    current.scheduler = scheduler`

[2017-12-23 01:24] #1827 closed

[2017-12-23 18:49] carpaIdea opened #1828 "layout.html - missing id required for showing collapsed menu"
Clicking the toggler button doesn't show collapsed menu.

The correction should be simple:
in the layout.html file we need to add the id on the navbar-collapse

`<div id="navbarNavDropdown" class="collapse navbar-collapse">`

[2017-12-27 07:49] veiko99 opened #1829 "python3: an error ticket shows UnicodeDecodeError if starting web2py with --nogui"
python 3.5, web2py version 2.16.1-stable+timestamp.2017.11.14.05.54.25

An error ticket shows always UnicodeDecodeError:
[code]
And files in app 'errors' folder contain weird characters.

I start web2py with
`python3 web2py.py --nogui`
If I add inside default controller:
`import locale; print(locale.getpreferredencoding(False))`
it prints ANSI_X3.4-1968

If I start web2py with
`python3 web2py.py`

[2017-12-30 07:21] ilvalle commented on #1829
I can't reproduce the issue running welcome app on python3.6. Can you check your issue using master branch and welcome app?

[2017-12-30 08:28] dalaka commented on #1744
Am using ubuntu 16.04 with 64bit, I am experiencing the same issue

[2017-12-30 15:13] veiko99 commented on #1829
Using Python3.5, web2py version 2.16.1-stable+timestamp.2017.11.13.23.50.07, Debian 9/Stretch

modified welcome app index function, add utf-8 character and not defined variable:
[code]

Running web2py without --nogui, got error ticket:
[code]

running with --nogui:
[code]

[2018-01-02 21:07] A-um opened #1830 "<type 'exceptions.TypeError'> all_envelopes() takes no arguments (1 given)"
Hello, just writing to report a possible bug with web2py 2.16.1 stable.

This error appears which does not appear in the 2.14.6 stable version of Web2py. I am not sure which information I should post in order to demonstrate and make the debugging easier so here is the function regarding the error message and the traceback.

[code]

[code]

[2018-01-03 14:59] leonelcamara commented on #1744
There's probably some kind of infinite recursion going on.

[2018-01-03 16:44] ramstein74 commented on #1767
pytest example
https://github.com/jredrejo/bancal/tree/master/web2py/applications/bancal
seems to be the recommended way...

[2018-01-03 23:18] dbrrt commented on #1767
Thanks for the link! By the way, there should be more documentation on how to implement tests in a web2py application.

[2018-01-04 12:09] ramstein74 commented on #1767
I have the same opinion :)
web2py should have a tests folder with preconfigured tests for the index or
other default functions. It would be easier for us to get into the tests

2018-01-03 23:18 GMT+00:00 David Barrat <notifications@github.com>:

[2018-01-04 12:51] dbrrt commented on #1767
Tests should be a default feature in any opinionated framework, but anyway it seems possible to do it, tweaking a bit. That'd be great to have few examples of tests in the documentation, like in the repo you mentionned.

[2018-01-04 14:13] cccaballero opened #1831 "Date and datetime widget broken"
In 2.16.1 version (and current master branch) date and datetime widgets are broken, you can see in the picture the behavior
![captura de pantalla de 2018-01-03 12-15-56](https://user-images.githubusercontent.com/3727802/34567237-6b2a202c-f12f-11e7-99e5-473e8a627ce7.png)

[2018-01-04 20:09] cccaballero commented on #1831
It seems a translation issue for Spanish in the Wellcome app

[2018-01-07 21:14] pearu opened #1835 "SCRIPT.xml and STYLE.xml return str bug"
The `xml()` methods of `SCRIPT` and `STYLE` instances return `str` object but should return `bytes` according to the implementation of all other `xml()` methods defined in `gluon/html.py`. This inconsistency leads to `TypeError` when using Python 3.x. Example:
[code]
Users can use the following workaround (or only this):
[code]

[2018-01-08 00:34] #1822 closed

[2018-01-10 16:47] ilvalle commented on #1831
@cccaballero https://github.com/web2py/web2py/issues/1831 has been merged, would you close this issue?

[2018-01-10 16:56] ilvalle commented on #1820
@dburba can you isolate the issue running pydal only library? which is the last pydal version working?

[2018-01-10 16:57] ilvalle commented on #1817
@mdipierro @isaiahc0 https://github.com/web2py/pydal/pull/505 has been merged, would you close this issue?

[2018-01-10 16:58] ilvalle commented on #1813
@robinvandernoord updating pydal fix the problem. would you close this issue?

[2018-01-10 17:06] #1817 closed

[2018-01-10 17:46] cccaballero commented on #1831
Of course!

[2018-01-10 17:46] #1831 closed

[2018-01-13 15:44] john11721 opened #1836 "<type 'exceptions.AttributeError'> 'NoneType' object has no attribute '_tablename'"
https://github.com/web2py/web2py/issues/1836

[2018-01-13 16:06] john11721 commented on #1836
**CODE:**
    rows = db(db.stocks).select('Date_','VTI','VBIAX','VDADX','VIGAX','VTSAX','VFIAX','VGSLX','FCYIX','DVN','GOOG','GOOGL','MET','DIA','VTIAX','FCNTX')
    return locals()

[2018-01-13 16:24] john11721 commented on #1836
Version 2.16.1-stable+timestamp.2017.11.14.05.54.25

Traceback (most recent call last):
  File "F:\web2py\gluon\restricted.py", line 219, in restricted
    exec(ccode, environment)
  File "F:\web2py\applications\impstocks\views\default/index.html", line 82, in <module>
  File "F:\web2py\gluon\globals.py", line 432, in write
    self.body.write(to_native(xmlescape(data)))
  File "F:\web2py\gluon\ht

[2018-01-20 00:18] damufo commented on #1815
same error here. for version 2.16.1

[2018-01-24 15:33] LucasRodrigues commented on #1613
@kkantor Hi, what you have done to work on Mysql 2nd generation? I have the same issue here

[2018-01-24 21:21] kkantor commented on #1613
db = DAL('google:MySQLdb://root:password@/DATABASENAME?unix_socket=/cloudsql/PROJECTNAME:REGION:INSTANCENAME',lazy_tables=True, migrate_enabled=False, fake_migrate_all=False)

This is my connection string that seems to work with the version that was release to work with 2nd generation Google SQL.

[2018-01-25 00:47] hyanwong opened #1838 "Can't insert 4-byte characters using web2py/PyMySQL"
With the latest (0.8.0) version of PyMySQL, and setting the table and column collations to utf8mb4_unicode_ci, I can insert full utf8 characters like 💩 (see https://mathiasbynens.be/notes/mysql-utf8mb4) on the python command line, e.g.

[code]

but when I try to do the same using the web2py DAL (web2py 2.16.1-stable), it fails, and inserts "????" instead:

[code]

The same failure happens if I try

[2018-01-25 09:52] hyanwong commented on #1838
Thanks to a reply on Stack Overflow, and another helpful post at https://stackoverflow.com/questions/39349972/how-do-i-specify-utf8mb4-for-a-mysql-column-in-web2py, I find that the problem is passing the encoding to the connector, which can be done by

[code]

I could close this issue, but perhaps it should be documented somewhere before it is fully closed?

[2018-01-25 22:03] danivogel90 opened #1840 "[2.16.1] edit wiki page, textarea resize vertical only, bootstrap or css problem"
The auth.wiki (edit page) does not work properly with Web2py 2.16.1, rendering is not correct and text area can only be resize vertically. The form field Tags with +/- is not working.

![screen01](https://user-images.githubusercontent.com/35815784/35414791-ddac609c-0223-11e8-9a08-4253476be123.png)

[2018-01-26 23:04] liuyigh opened #1841 "urllib issue running on python 3"
I am really happy with how much progress been made for python 3 compatibility.

Here I report an issue due to urllib. May be related to this one issue #1236 .

[code]

[2018-01-29 01:33] dartg commented on #1695
Ok, maybe the following function could be used to check how many arguments `formstyle()` takes instead of catching `TypeError`.

[code]

This succesfully inspects conventional functions, `functools.partial` objects and callable objects (and works in both Python 2 and 3):

[code]

Then the issue could be easily fixed by using:

[code]

What do you think?

[2018-01-29 21:39] liuyigh opened #1842 "request_password vs request_reset_password"
Is this a bug? I am using 2.16.1 Apparently `request_password` function as subitem 'Lost Password' in the top menu leads to 404 not found.

The `request_reset_password` function as button 'Lost Password' on the login page is fine.

[2018-01-31 14:11] nickysavage commented on #1612
So if I learn Web2py will I always have to wait a three period for the program to work with a new release of python? Python 3.5 was released in 2015. We are now up to 3.6.4.
Does this mean that web2py is not open source or that it does not have enough people that contribute to it?
I think I will stick to Django.

[2018-01-31 17:38] kirsn commented on #1612
@nickysavage it would help the web2py community, and possibly you in your evaluation of web2py, if you can try running the code under `master` branch in python 3.x. Your experience with that, or any bug reports would help.

[2018-02-04 08:26] ilvalle commented on #1838
@hyanwong you can close this issue, perhaps open a new one in https://github.com/web2py/web2py-book/issues

[2018-02-04 09:08] ilvalle commented on #1812
@mdipierro what do you think?

[2018-02-07 01:52] bjquinn opened #1848 "'str' object has no attribute 'decode' in welcome app when requesting password reset with py3"
web2py version 2.16.1-stable+timestamp.2017.11.14.05.54.25
Python 3.6.4

getting the following error in the welcome app when trying to click the forgot password link:

[code]

simply changing the following in languages.py:

[code]

to the following:

[code]

seems to fix it.  I don't know if there are other side effects that I'd be causing with this fix, but I thought I'd report the error and a po

[2018-02-07 16:02] #1838 closed

[2018-02-07 19:51] adworksapp opened #1849 "web2py website - Web-Based IDE brings error"
When I click on web based ide or interactive demo on the main homepage of web2py.com

I get an "Internal error" page.

http://web2py.com/demo_admin

its been like this for at least 3 months.

Nobody maintaining the site anymore?

[2018-02-08 21:32] fcbarnard opened #1853 "Bug in SQLFORM"
I am building a custom SQLFORM to edit a record. When I submitted the form I received the following error:

<class 'TypeError'> list indices must be integers or slices, not str

The feedback I received from the google groups is that there is an error on row 1369 that the ID I receive is not an instance of (int, long, str, unicodeT)

https://github.com/web2py/web2py/blob/master/gluon/sqlhtml.py#L13

[2018-02-09 18:27] #1835 closed

[2018-02-09 18:27] #1841 closed

[2018-02-09 18:29] #1828 closed

[2018-02-09 18:40] liuyigh commented on #1842
Update: I later found the code is actually pretty easily fixable in the layout.html

[2018-02-09 19:36] liuyigh commented on #1842
Code in layout.html:
[code]

[2018-02-09 19:42] ilvalle commented on #1842
@liuyigh would you post a pull request?

[2018-02-09 19:48] ilvalle commented on #1829
@veiko99 could you check the error with python 3.6.4?

[2018-02-09 19:50] liuyigh commented on #1842
requested. #1854

[2018-02-09 22:25] nursix opened #1856 "SPAN.flatten() raises UnicodeDecodeError with T-components"
Code like this crashes in Py2.7 with UnicodeDecodeError for T-languages where translate produces multi-byte utf-8 encoded strings (e.g. Japanese, Korean, etc.):
[code]
The problem could be here:
https://github.com/web2py/web2py/blob/master/gluon/languages.py#L433
This should probably not str(self).encode() (as it seems normal that lazyT.__str__() returns an utf-8 encoded str)?

Or maybe this:
http

[2018-02-10 09:43] sbourgeois1 commented on #921
Related topic: in case of CAS change, I observed that in the local auth_user table, there is a duplication of record with same email address, even if unique=True for the email. Can I suggest to update the auth_user.registration_id field with the new cast address rather than adding a new record in the auth_user table?

[2018-02-10 18:06] veiko99 commented on #1829
Seems like this line in main.py causing the problem
`locale.setlocale(locale.LC_CTYPE, "C") # IMPORTANT, web2py requires locale "C"`

Found related Python issue https://bugs.python.org/issue19846

In my system the code:
[code]
throws:
[code]
Not sure how to solve this so that I can run web2py with wsgi or --nogui using python3.5.

[2018-02-10 19:38] ilvalle commented on #1856
@nursix  this issue has been fixed by https://github.com/web2py/web2py/pull/1852. I added a test for this use case.

[2018-02-10 21:10] rayluo commented on #921
@sbourgeois1 I'm not the one to answer your question above, but I would suggest you to create a separated issue for your question, rather than commenting on an already-closed issue. Otherwise your comment might not be very visible to the community.

[2018-02-10 22:27] nursix commented on #1856
I don't see that this changes anything with regard to the problem I described?

I said the problem occurred in Py2.7 - but your fix doesn't change Py2.7 behavior, does it?

I also said the problem occurred in languages where the translation gives a utf-8 encoded str containing multi-byte characters - but your test seems to check for translating "Complete" from English to English, which doesn't use

[2018-02-10 22:38] nursix commented on #1856
I tested with #1852, and this is the result:
[code]

[2018-02-10 23:21] nursix commented on #1856
What works is when I change T.encode to:
[code]

But like I said, this modification of to_native works too:
[code]

I'm sure neither is optimal, so I'm posting them just to illustrate my problem - hope this gives you the right guidance.

[2018-02-11 01:19] daniellibonati opened #1857 "bootstrap4_inline doesn't produce an inline form"
When using `SQLFORM.grid(db.table, formstyle='bootstrap4_inline')`, there are no effects on the rendered form (it displays stacked instead).

According to Bootstrap v4 docs, it's required to add the class `row` to the form-group div in order to achieve the desired result.

Adding the css class to the function formstyle_bootstrap4_inline_factory in gluon/sqlhtml.py solves the issue.

[2018-02-11 04:12] dartg commented on #1853
I can't reproduce the problem. But in your controller, `id = request.vars['id']` will be always `None` since it was created as `writable=False`, then it is not displayed in the form. However, `define_table()` automatically creates and manages the ID field for you, why would you create it yourself?

[2018-02-11 04:24] dartg commented on #1830
When using services, GET-vars are translated to function arguments. Since you're expecting `userID`, your funcion should look like:

[code]

[2018-02-11 04:30] dartg commented on #1791
Probably that's a typo, you should import `current` from `gluon`, not `globals`:

[2018-02-11 04:33] dartg commented on #1798
That's probably because you removed before all the content from `db.py`, where `myconf` is defined. Since models are executed alphabetically, `menu.py` expects `myconf` to be already defined.

[2018-02-11 18:17] ilvalle commented on #1856
@nursix I see the problem. Regarding the change you proposed to T.encode, running ` to_unicode(str(self)).encode(*a, **b)` isn't equal to `str(self)` when the charset is the same? `to_native` is used every where in the code, if possible I wouldn't change it.

Side note, Japanese is not available in welcome app yet. Would you post a PR for it?

[2018-02-11 18:30] dartg opened #1859 "Change supported versions in web2py downloads"
The [download page](http://web2py.com/init/default/download) says web2py «requires Python 2.6, or 2.7 (recommended)». Maybe 2.6 should be dropped and include 3.x? I'm sure it's not widely known that web2py (mostly) supports Python 3 and thus many users are going with other web frameworks.

[2018-02-11 19:08] nursix commented on #1856
Yes, ```to_unicode(str(self)).encode(*a, **b)``` is the same as ```str(self)``` if the charset is the same. However, at this point it is unknown whether the charset is the same or not.

Re: Japanese for welcome app - I'm afraid I can't help you there.

I'm trying to resolve https://github.com/sahana/eden/issues/1451, which has a Japanese translation - but I doubt that its language file https://git

[2018-02-12 19:43] veiko99 commented on #1829
Maybe it is sensible do not set  LC_CTYPE=C when Python3 is used because str.lower() is not locale-aware in Python3.

[code]
Web2py issue 1583 introduced this LC_CTYPE=C change:
https://storage.googleapis.com/google-code-archive/v2/code.google.com/web2py/issues/issue-1583.json
( or in html http://output.jsbin.com/kikaxayuze )
https://groups.google.com/forum/#!searchin/web2py-developers/locale|sort

[2018-02-12 20:22] ilvalle commented on #1856
@nursix see https://github.com/web2py/web2py/pull/1852/commits/fa31a6b61be02ed1f6ce8fd76c21776a1e09d82d

[2018-02-12 22:42] bnmnetp opened #1861 "UnicodeDecode error setting up session"
Hi,

Excited to see all the progress on python3.  I decided to setup a fresh install of Ubuntu 17.10 and give my app a try against master.  I get this traceback:

[code]

The sessions table is created and is there from a separate script I run to initialize the database.  there is even one row in the table.  Let me know what else I can get to help debug.

Brad

[2018-02-13 06:20] dartg commented on #1861
The problem is that the `session` object is pickled and stored in a `blob` field, which by default does the following when retrieved from the database (`pydal/parsers/base.py:35`):

[code]

The `to_native` function tries to decode from utf-8, which raises the error since the pickled data is not a valid utf-8 string. Since the `blob` field stores binary data, the result in Python 3 should be `bytes

[2018-02-13 20:57] ilvalle commented on #1861
Pydal stores a blob field as b64encoded characters, your error is odd.
Did you try to start with py3 with an empty session table?

[2018-02-13 21:20] dartg commented on #1861
I already did that and the error came up. I insist in that blob fields should be returned as `bytes` in Python 3. Even the error is pretty explicit:

[code]

[2018-02-15 02:15] dartg commented on #1815
This is a pyDAL issue but seems to be [already solved](https://github.com/web2py/pydal/commit/ccc4d4c7f8e9bfb285597d266489e169ecadbbfa).

[2018-02-15 10:54] sbourgeois1 opened #1862 "Auth_user : email unicity fails lwhen change of CAS"
Hello,
In case of CAS change, I observed that in the local auth_user table, there is a duplication of record with same email address, even if unique=True for the email. Can I suggest to update the auth_user.registration_id field with the new cast address rather than adding a new record in the auth_user table?

[2018-02-15 11:08] sbourgeois1 opened #1863 "SQLFORM : two translation issues"
1) First issue:
upload widget: following fields are never translated.
'Choose File'
'No file chosen'
'file'
2) Second issue.
In smartgrid, on the '+' button of the top left of the form, the standard title is 'Add record to database'. If you change this title for instance to 'your own title', the translation always refers to 'Add record to database'  and not to 'your own title'.

[2018-02-15 14:00] sfxxx opened #1864 "Cannot open Welcome App menu in various mobile browsers"
STEPS TO REPRODUCE: Open web2py 2.16.1 welcome app in Safari Mobile on iOS 9.3.5 on a small iPhone, or in Internet Explorer on a Windows 8 Mobile phone. Tap the burger menu in the upper right corner.
EXPECTED OUTCOME: Menu opens.
PROBLEM: Nothing happens.

Related notes: In these browsers, web2py.com's menu appears just as a black bar. I can select items in Internet Explorer, but not in Safari Mob

[2018-02-15 14:20] leonelcamara commented on #1863
1. This is not a web2py bug, that is a browser widget and the browser decides its language.
2. You need to set the title using T('your title') if you want it to go through translation.

[2018-02-16 08:13] nursix commented on #1856
This seems to do the trick, yes (sorry for the delayed response, bit busy here).
[code]

Now waiting for the next stable release...

[2018-02-16 15:15] sbourgeois1 opened #1865 "virtual field issue after upgrade fro V 14 to V16.5"
Hello,
I had to remove the virtual field to work around the issue.
Example:
code working with v 14
...
    db_txp.t_txp_company.id.readable = False
    db_txp.t_txp_company.id.writable = False
# now we want to add a virtual field to select the corresponding cny.
    db_txp.t_txp_company.select = Field.Virtual('select', lambda row: A(SPAN(IMG(_src=URL(str('static/images'), str('select.png')),  _wid

[2018-02-17 14:16] bnmnetp commented on #1861
@ilvalle - Yes, I created a brand new VM and set up everything cleanly.  The sessions table was totally empty when I started.

[2018-02-19 04:17] dartg opened #1866 "Cache size on appadmin: guppy ImportError"
The `ccache` function inside `appadmin.py` (http://127.0.0.1:8000/yourapp/appadmin/ccache) uses [guppy](https://pypi.python.org/pypi/guppy/) (if available) to show the memory used by `cache.ram`. But once installed (and if there's something stored in the RAM cache) it will fail with the following traceback:

The exception is started at [`appadmin.py:455`](https://github.com/web2py/web2py/blob/82cf

[2018-02-19 05:14] heythan opened #1867 "RedisSession with_lock option issue"
Hi,

I loaded multiple SQLFORM through ajax and faced unindenfied long delay.
After look into 'gluon/contrib/redis_session.py', with_lock option,
I think there's unintended caveat in this lock model.

To check this issue, I made small application as below.

in db.py ===================================================================

[code]

in controller ==========================================

[2018-02-19 08:12] Proger666 opened #1868 "Insecure pickle in case of multiple devs works with the same database"
Web2py have database cash in /databases folder so it’s leads to a problem when several developers connects to database even without changing anything inside database structure.
In order to fix this problem one needs to use fake_migrate_all an drecreate local database cash.

I think it will be much mor effective to sync with database from time to time in order to seamlessly update local files.

[2018-02-19 12:43] shindae commented on #1867
Hello, heythan.

It's a good question. I have the same problem.
If I solved that problem, I'll reply to this thread :)

[2018-02-19 16:22] masia5 commented on #1868
Share the databases/* files with the other devs, for example with git or local network. Mind that  issue regards https://github.com/web2py/pydal close this one and perhaps open a new one there

[2018-02-19 16:42] fiubarc commented on #1791
Now is working correctly.  I always have used

`from gluon import current`

I realy dont know wich was the fix

Thanks!

[2018-02-19 16:43] #1791 closed

[2018-02-19 17:20] masia5 commented on #1866
Guppy is no longer maintained. You could replace it with a recursive version of `sys.getsizeof ` see https://docs.python.org/3/library/sys.html#sys.getsizeof . Would you try to post a PR?

[2018-02-19 19:31] dartg commented on #1866
Even the recursive version of `sys.getsizeof` will return wrong results for pyDAL records and user-defined classes. Maybe [Pympler](https://pypi.python.org/pypi/Pympler) could be used, which is newer and pure-Python.

[2018-02-19 19:45] Proger666 commented on #1868
Yes, this is a workaround but not really viable solution for production environment when several people connect to dB and modify some parts. Workflow became very clumpy and it’s can be fixed via small fix. For example one of the solution can be in creating cache table in a database and then  systematically local cache updating.

[2018-02-19 21:47] leonelcamara commented on #1868
I don't understand what's happening here, you have several people changing the .table files on the production environment? What do you mean cache in databases folder?

[2018-02-19 22:15] Proger666 commented on #1868
There are some files in local /database folder,  like a local cache right ? This files constantly changes over time and that leads to errors such as “insecure string pickle” when several ppl use local Web2py process but connected to production database.

[2018-02-20 04:55] dartg commented on #1868
When multiple web2py applications shares the same database, all of them except one should disable migrations (`migrate_enabled=False`). Otherwise web2py will apply the same migrations as many times as applications sharing the database, completely messing up your schema.

[2018-02-20 08:27] sbourgeois1 commented on #1863
Thanks for your response.
1. Yes,I know it is more difficult than the usual translation, but I think this could be solved with a javascript function which could be integrated in the framework.
2. This is of course what is done, and what does NOT work correctly. The system always makes the translation of the text 'Add record to database', and not the translation of what you put in the title, even i

[2018-02-20 14:50] leonelcamara commented on #1863
1. You and others can make a custom file widget and preferably even share it in github, I don't think it should be included by default in web2py as it's non standard browser behavior and there is an infinite number of file upload widgets using different libraries you could make.
2. Humm you're right, apparently there's no option to change the grid texts. You can change them by using serverside DOM